{% trans_default_domain 'messages' %}

{% if is_granted('ROLE_CALENDAR_MANAGE') or  is_granted('ROLE_ADMIN') %}
    <li {% if active == "calendar" %}class="act_section current_section"{% endif %}>
        <a href="#">
            <span class="menu_icon"><i class="material-icons">{{ "calendar.icon"|trans }}</i></span>
            <span class="menu_title">{{ "calendar.title"|trans }}</span>
        </a>
        <ul>
            <li {% if subactive == "admin_calendar_moments" %}class="act_item"{% endif %}><a href="{{ url('admin_calendar_moments')}}">{{ "calendar.navigation.moment"|trans }}</a></li>
            <li {% if subactive == "admin_calendar_agendas" %}class="act_item"{% endif %}><a href="{{ url('admin_calendar_agendas')}}">{{ "calendar.navigation.agenda"|trans }}</a></li>
        </ul>
    </li>
{% endif %}