{% extends '::admin.html.twig' %}
{% set active = "account" %}
{% set subactive = "account" %}
{% block title %}{{ parent() }} - Mon profil {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
    <!-- uikit -->
    <link rel="stylesheet" href="{{asset("bundles/admin/libs/codemirror/lib/codemirror.css")}}" media="all" />

{% endblock %}

{% block content %}
   <div id="page_content">
        <div id="page_content_inner">
            <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                <div class="uk-width-large-1-1">
                    <div class="md-card">
                        <div class="user_heading">
                            
                            <div class="user_heading_avatar">
                                {% if app.user.picture is empty %}
                                    <img src="{{asset("bundles/admin/libs/img/blank.png")}}"/>
                                {% else %}
                                    <img src="{{asset(app.user.picture.webPath25x25)}}"/>
                                {% endif %}
                            </div>

                            <div class="user_heading_content">
                                <h2 class="heading_b uk-margin-bottom">
                                    <span class="uk-text-truncate">{{app.user.firstName }} {{ app.user.lastName }}</span>
                                    
                                </h2>
                                
                            </div>
                           
                        </div>
                        <div class="user_content">
                            <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}" data-uk-sticky="{ top: 48, media: 960 }">
                                <li class="uk-active"><a href="#">Général</a></li>
                                <li><a href="#">Paramètres de connexion</a></li>
                            </ul>
                            <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">

                                <li>
                                    <div class="uk-margin-medium-top">
                                        <form class="uk-form-stacked" action="{{url('account_update')}}" method="POST">
                                                
                                            <div class="uk-grid">
                                                <div class="uk-width-1-1">
                                                    <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                                                        <div>
                                                            <div class="uk-input-group">
                                                                <span class="uk-input-group-addon">
                                                                    <i class="md-list-addon-icon material-icons">&#xE853;</i>
                                                                </span>
                                                                <label for="first_name">Nom</label>
                                                                <input type="text" class="md-input" name="first_name" id="first_name" value="{{app.user.firstName}}" />
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="uk-input-group">
                                                                <span class="uk-input-group-addon">
                                                                    <i class="md-list-addon-icon material-icons">&#xE853;</i>
                                                                </span>
                                                                <label for="last_name">Prénoms</label>
                                                                <input type="text" class="md-input" id="last_name" name="last_name" value="{{app.user.lastName}}" />
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-grid">
                                                <div class="uk-width-1-1">
                                                    <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                                                        <div>
                                                            <div class="uk-input-group">
                                                                <span class="uk-input-group-addon">
                                                                    <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                                </span>
                                                                <label>Email</label>
                                                                <input type="text" class="md-input" name="email" value="{{app.user.email}}" />
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="uk-input-group">
                                                                <span class="uk-input-group-addon">
                                                                    <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                                </span>
                                                                <label>Phone Number</label>
                                                                <input type="text" class="md-input" name="phone" value="{{app.user.phone}}" />
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-1">
                                                    <label for="password">Mot de passe</label>
                                                    <input type="password" class="md-input" name="password" value="" />
                                                </div>
                                            </div>
                                            
                                            <div class="uk-grid">

                                                <div class="uk-width-medium-1-12 uk-text-center">
                                                    <button type="submit" class="md-btn md-btn-primary">Mettre à jour</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    
                                </li>
                              
                                <li>
                                    <div class="uk-margin-medium-top">
                                        <form class="uk-form-stacked" action="{{url('account_update_credentials')}}" method="POST">
                                            <div class="uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-2">
                                                    <label for="username">Nom d'utilisateur</label>
                                                    <input class="md-input" type="text" id="username" name="username" value="{{app.user.username }}" />
                                                </div>
                                                <div class="uk-width-medium-1-2">
                                                    <label for="new_password">Mot de passe</label>
                                                    <input class="md-input" type="password" id="new_password" name="new_password" value="votre_mot_de_passe"/>
                                                </div>
                                            </div>
                                            <div class="uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-1">
                                                    <label for="password">Mot de passe actuel</label>
                                                    <input type="password" class="md-input" name="old_password" value="" />
                                                </div>
                                            </div>
                                            <div class="uk-grid">

                                                <div class="uk-width-medium-1-12 uk-text-center">
                                                    <button type="submit" class="md-btn md-btn-primary">Mettre à jour</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
{% endblock %}
