{% trans_default_domain 'messages' %}
<div class="uk-width-medium-6-10 uk-container-center">
   {{ form_start(form) }}
		<div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                    <div class="uk-width-large-1-1">
                        <div class="uk-form-row">
                            {{ form_label(form.name, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                            {{ form_widget(form.name, {'attr': {'class': 'md-input'}}) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_label(form.location, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                            {{ form_widget(form.location, {'attr': {'class': 'md-input'}}) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_label(form.tags, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                            {{ form_widget(form.tags, {'attr': {'data-role': 'materialtags'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ render(controller('MediaBundle:Admin:embedFile', {'formData': form.picture, 'data': partner is defined ? partner.picture : null, 'type': 'picture', 'context': 'expertise/partner', 'multiple': false })) }}

        <div class="uk-margin-top uk-text-center">
            <a href="{{ url('admin_expertise_partner_list') }}" class="md-btn">
                <i class="fa fa-arrow-left"></i>
                {{ "button.cancel"|trans }}
            </a>
            <button class="md-btn md-btn-success" type="submit">
                {% if partner is defined %}
                    {{ 'button.update'|trans }}
                {% else %}
                    {{ 'button.add'|trans }}
                {% endif %}
                <i class="fa fa-check"></i>
            </button>
        </div>
    {{ form_end(form) }}
</div>