{% trans_default_domain 'messages' %}

{{ form_start(form, {'attr': {'id': 'form_validation', 'class': 'uk-form-stacked'}}) }}
    <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
        <div class="uk-width-xLarge-7-10 uk-width-large-7-10">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                        <div class="uk-width-large-1-1">
                            <div class="uk-form-row">
                                {{ form_label(form.name, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                                {{ form_widget(form.name, {'attr' : {'class': 'md-input'}}) }}
                            </div>
                            <div class="uk-form-row">
                                {{ form_widget(form.description, {'id': 'wysiwyg_ckeditor'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% if project is not defined %}
                {{ render(controller('MediaBundle:Admin:embedFile', {'formData': form.pictures, 'data': project is defined ? project.pictures : null, 'type': 'picture', 'context': 'expertise/project', 'multiple': true })) }}
            {% endif %}
        </div>
        <div class="uk-width-xLarge-3-10 uk-width-large-3-10">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-form-row">
                        {{ form_label(form.service, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                        {{ form_widget(form.service, {'attr' : {'data-md-selectize': true}}) }}
                    </div>
                    <div class="uk-form-row">
                        {{ form_label(form.client, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                        {{ form_widget(form.client, {'attr' : {'class': 'md-input'}}) }}
                    </div>
                    <div class="uk-form-row">
                        {{ form_label(form.startedAt, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                        {% if project is defined %}
                            {{ form_widget(form.startedAt, {'value': project.startedAt|date('d-m-Y H:i'), 'attr': {'class': 'datepicker'}}) }}
                        {% else %}
                            {{ form_widget(form.startedAt, {'attr': {'class': 'datepicker'}}) }}
                        {% endif %}
                    </div>
                    <div class="uk-form-row">
                        {{ form_label(form.endedAt, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                        {% if project is defined %}
                            {{ form_widget(form.endedAt, {'value': project.endedAt|date('d-m-Y H:i'), 'attr': {'class': 'datepicker'}}) }}
                        {% else %}
                            {{ form_widget(form.endedAt, {'attr': {'class': 'datepicker'}}) }}
                        {% endif %}
                    </div>
                    <div class="uk-form-row">
                        {{ form_label(form.location, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                        {{ form_widget(form.location, {'attr' : {'class': 'md-input'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-text-center uk-margin-top">
        <a class="md-btn md-btn-default" href="{{ url('admin_expertise_service_list') }}">
            <i class="fa fa-arrow-left"></i>
            {{ 'button.cancel'|trans }}
        </a>
        <button class="md-btn md-btn-success" type="submit">
            {% if category is defined %}
                {{ 'button.update'|trans }}
            {% else %}
                {{ 'button.add'|trans }}
            {% endif %}
            <i class="fa fa-check"></i>
        </button>
    </div>
{{ form_end(form) }}