{% trans_default_domain 'messages' %}

{{ form_start(form) }}
<div class="uk-modal-body">
    <div class="uk-margin-medium-bottom">
        {{ form_label(form.question, null, {'label_attr' : {'class' : 'uk-form-label'}}) }}
        {{ form_widget(form.question, {'attr' : {'class' : 'md-input'}}) }}
    </div>
    <div class="uk-margin-medium-bottom">
        {{ form_label(form.answer, null, {'label_attr' : {'class' : 'uk-form-label'}}) }}
        {{ form_widget(form.answer, {'attr' : {'class' : 'md-input', 'rows' : 10, 'cols' : 10}}) }}
    </div>
</div>
<div class="uk-modal-footer uk-text-right">
    <button type="button" class="md-btn uk-modal-close">
        <i class="fa fa-arrow-left"></i>
        {{ "button.close"|trans }}
    </button>
    <button class="md-btn md-btn-success" type="submit">
        {% if faq is defined %}
            {{ 'button.update'|trans }}
        {% else %}
            {{ 'button.add'|trans }}
        {% endif %}
        <i class="fa fa-check"></i>
    </button>
</div>
{{ form_end(form) }}