{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Expertise:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "expertise.faq.list"|trans }}{% endblock %}

{% block headingactions %}
<div class="heading_actions">
    <a href="{{ url('admin_expertise_faq_create') }}" class="uk-text-bold show-modal">
        {{ "button.add"|trans|upper }}
        <i class="fa fa-plus-circle"></i>
    </a>
</div>
{% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <em>{{ "expertise.faq.list"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        <div class="uk-width-1-1">
            {% if faqs is not empty %}
                <div class="md-card md-card-single">
                    <div class="md-card-content padding-reset">
                        <div class="uk-accordion uk-accordion-alt hierarchical_slide help_accordion" data-slide-children="h3" data-slide-context=".md-card-content">
                            {% for faq in faqs %}
                                <h3 class="uk-accordion-title">{{ faq.question }}</h3>
                                <div class="uk-accordion-content">
                                    <div class="uk-float-right">
                                        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
                                            <a><i class="fa fa-ellipsis-h"></i></a>
                                            <div class="uk-dropdown uk-dropdown-small uk-text-left" aria-hidden="true">
                                                <ul class="uk-nav uk-nav-dropdown">
                                                    <li>
                                                        <a href="{{ url('admin_expertise_faq_update', { 'id': faq.id}) }}" class="show-modal">
                                                            <i class="fa fa-pencil"></i>
                                                            {{ "button.update"|trans }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" alt="{{ "button.remove"|trans }}" data-route="{{ url('admin_expertise_faq_delete', {'id' : faq.id}) }}" data-text="{{ 'expertise.faq.delete'|trans({'%faq%': faq.answer}) }}" data-label="{{ faq.question }}" class="remove-item">
                                                            <i class="fa fa-trash-o uk-text-danger"></i>
                                                            {{ "button.remove"|trans }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p>{{ faq.answer }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        'bundles/admin/js/page_help.js'
        output='compiled/js/admin_expertise_faq.min.js'
    %}
    {% endjavascripts %}
{% endblock %}
