{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Expertise:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "expertise.service.list"|trans|capitalize }}{% endblock %}

{% block headingactions %}
<div class="heading_actions">
    <a href="{{ url('admin_expertise_service_create') }}">
        <span class="uk-text-bold">{{ "button.add"|trans|upper }}</span>
        <i class="fa fa-plus-circle"></i>
    </a>
</div>
{% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <em>{{ "expertise.service.list"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        <div class="uk-width-1-1">
            <div class="md-card">
                {% if services is not empty %}
                    <div class="md-card-toolbar toggle-action uk-hidden">
                        <div class="md-card-toolbar-actions">
                            <div class="uk-button-dropdown" data-uk-dropdown="{'mode' : 'click', 'position' : 'bottom-right'}">
                                <a class="uk-text-primary uk-text-bold">
                                    {{ 'layout.multiple_actions'|trans }}
                                    <i class="fa fa-chevron-down"></i>
                                </a>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li>
                                            <a href="#" class="remove-list" data-uk-modal="{target:'#remove_list_modal'}">
                                                <i class="fa fa-trash-o uk-text-danger"></i> 
                                                {{ "button.remove"|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <input type="hidden" value="{{ services|length|default('0') }}" id="toggle-items-count">
                            <input type="hidden" value="0" id="toggle-items-checked-count">
                        </div>
                    </div>
                {% endif %}
                <div class="md-card-content">
                    <table id="dt_individual_search" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ "expertise.service.name"|trans }}</th>
                                <th>{{ "expertise.service.createdAt"|trans }}</th>
                                <th>{{ "expertise.service.updatedAt"|trans }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in services %}
                                <tr class="toggleable" id="item-{{ service.id }}">
                                    <td>
                                        <a class="uk-text-muted uk-text-small uk-text-left toggleable-btn-select" href="#">
                                            <i class="material-icons md-24 toggle-icon toggle-item" id="toggle-item-{{ service.id }}">&#xE835;</i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url('admin_expertise_service_update', {'id': service.id}) }}">{{ service.name }}</a>
                                    </td>
                                    <td><small>{{ date_time_ago(service.createdAt) }}</small></td>
                                    <td><small>{{ date_time_ago(service.updatedAt) }}</small></td>
                                    <td class="uk-text-right">
                                        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
                                            <a><i class="fa fa-ellipsis-h"></i></a>
                                            <div class="uk-dropdown uk-dropdown-small uk-text-left" aria-hidden="true">
                                                <ul class="uk-nav uk-nav-dropdown">
                                                    <li>
                                                        <a href="{{ url('admin_expertise_service_update', {'id': service.id}) }}">
                                                            <i class="fa fa-pencil"></i>
                                                            {{ "button.update"|trans }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" alt="{{ "button.remove"|trans }}" data-route="{{ url('admin_expertise_service_delete', {'id': service.id}) }}" data-text="{{ 'expertise.service.delete'|trans({'%serviceName%': service.name }) }}" data-label="{{ service.name }}" class="remove-item">
                                                            <i class="fa fa-trash-o uk-text-danger"></i>
                                                            {{ "button.remove"|trans }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
