{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Expertise:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "expertise.partner.update"|trans|capitalize }} {{ partner.name }} {% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <a href="{{ url('admin_expertise_partner_list') }}">{{ "expertise.partner.list"|trans|capitalize }}</a>
    <i class="fa fa-chevron-right"></i>
    <em>{{ "expertise.partner.update"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% include 'AdminBundle:Expertise:form_partner.html.twig' with {'form': form, 'partner': partner} %}
    </div>
{% endblock %}