{% trans_default_domain 'messages' %}

{% extends "AdminBundle::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets 
        'bundles/admin/libs/codemirror/lib/codemirror.css'
        'bundles/admin/libs/uikit/css/uikit.almost-flat.min.css'
        'bundles/admin/icons/flags/flags.min.css'
        'bundles/admin/css/main.css'
        'bundles/admin/libs/font-awesome/css/font-awesome.min.css'
        'bundles/admin/skins/tinymce/material_design/skin.min.css'
        'bundles/admin/libs/kendo-ui/styles/kendo.common-material.min.css'
        'bundles/admin/libs/kendo-ui/styles/kendo.material.min.css'
        'bundles/admin/libs/materialize-tags/css/materialize-tags.css'
        
        output='compiled/css/base_admin_layout.min.css'
        filter='cssrewrite' 
        %}
            <link rel="stylesheet" href="{{ asset_url }}" media="all" />
    {% endstylesheets %}
{% endblock %}
{% block bodyattributes %}class="sidebar_main_open sidebar_main_swipe"{% endblock %}
{% block header %}
<header id="header_main">
	<div class="header_main_content">
		<nav class="uk-navbar">
			<a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
				<span class="sSwitchIcon"></span>
			</a>
			<a href="#" id="sidebar_secondary_toggle"
				class="sSwitch sSwitch_right sidebar_secondary_check"> <span
				class="sSwitchIcon"></span>
			</a>
			<div class="uk-navbar-flip">
				<ul class="uk-navbar-nav user_actions">
					{% if searchEnabled is defined and searchEnabled == 1 %}
						<li><a href="#" id="main_search_btn" class="user_action_icon"><i
							class="material-icons md-24 md-light">&#xE8B6;</i></a></li>
					{% endif %}
					<li data-uk-dropdown="{mode:'click',pos:'bottom-right'}"></li>
					<li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                        <a href="#" class="user_action_image uk-text-large" data-uk-tooltip={'pos' :'top'}>
                            <i class="material-icons md-24 md-light">&#xE853;</i>
					   </a>
						<div class="uk-dropdown uk-dropdown-small">
							<ul class="uk-nav js-uk-prevent">
								<li><a href="{{ url('admin_user_update', {'id': app.user.id}) }}">
                                    <i class="fa fa-user"></i>
                                    {{ 'user.my_account'|trans }}
								    </a>
                                </li>
                                <li><a href="{{ url('logout') }}">
                                    <i class="fa fa-sign-out"></i>
                                    {{ 'user.logout'|trans }}
                                    </a>
                                </li>
							</ul>
						</div>
                    </li>
				</ul>
			</div>
		</nav>
	</div>
	{% if searchEnabled is defined and searchEnabled == 1 %}
    	<div class="header_main_search_form">
    		<i class="md-icon header_main_search_close material-icons">&#xE5CD;</i>
    		<form class="uk-form" method="GET">
    			<input type="text" class="header_main_search_input" name="search"
    				placeholder="{% block formsearchplaceholder %}{% endblock %}" />
    			<button class="header_main_search_btn uk-button-link" type="submit">
    				<i class="md-icon material-icons">&#xE8B6;</i>
    			</button>
    		</form>
    	</div>
	{% endif %}
</header>
{% endblock %}
{% block side %}
    <aside id="sidebar_main">
        <div class="sidebar_main_header">
            <div class="sidebar_logo uk-text-center">
                <a href="{{ url('admin_homepage') }}" class="sSidebar_hide"><img src="{{ asset('logo.png') }}" alt="" width="70%"/></a>
                <a href="{{ url('admin_homepage') }}" class="sSidebar_show"><img src="{{ asset('logo.png') }}" alt="" height="32" width="32"/></a>
            </div>
        </div>
        <div class="menu_section">
        	{{ render_admin_navigation() }}    
        </div>
	</aside>
{% endblock %}

{% block alert %}
	{% if app.session.flashBag.has('success') is not empty %}
		{% for message in app.session.flashBag.get('success') %}
            <input type="hidden" class="alert-flash" data-message="<i class='fa fa-check-circle'></i> <b>{{ message }}</b>" data-status="success" data-pos="top-right" data-timeout="2000">
		{% endfor %}
	{% endif %}
{% endblock %}


{% block content %}{% endblock %}

{% block breacrumbs %}
	<div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        {% block headingactions %}{% endblock %}
        <span class="sub_heading">
            <a href="{{ url('admin_homepage') }}">
                <i class="fa fa-home"></i>
                {{ 'dashboard.title'|trans }}
            </a>
            {% block breadcrumbmodule %}{% endblock %}
        </span>
    </div>
{% endblock %}

{% block modal %}
    <div class="uk-modal" id="showModal"></div>
    <div class="uk-modal" id="remove_item_modal">
        <div class="uk-modal-dialog">
            <div class="uk-margin-medium-bottom uk-text-center">
                <h3 id="remove_item_text">{{ "layout.delete"|trans }}</span> <span id="remove_item_label"></span> ?</h3>
            </div>
            <div class="uk-modal-footer uk-text-center">
                <button type="button" class="md-btn uk-modal-close">{{ "button.close"|trans }}</button>
                <a href="#" class="md-btn md-btn-danger" id="remove_item_url">{{ "button.remove"|trans }}</a>
            </div>
        </div>
    </div>
     <div class="uk-modal" id="remove_list_modal">
        <div class="uk-modal-dialog">
            <div class="uk-margin-medium-bottom uk-text-center">
                <h3>{{ "layout.delete_list"|trans|capitalize }} ?</h3>
            </div>
            <div class="uk-modal-footer uk-text-center">
                <button type="button" class="md-btn uk-modal-close">{{ "button.close"|trans }}</button>
                <a href="#" class="md-btn md-btn-danger" id="remove_list_btn">{{ "button.remove"|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
	</script>
    {% if app.environment == 'prod' and app.debug == false %}
        {% javascripts
            'bundles/fosjsrouting/js/router.js'
            'js/fos_js_routes.js'
            'bundles/admin/js/common.js'
            'bundles/admin/js/uikit_custom.js'
            'bundles/admin/js/altair_admin_common.js'
            'bundles/admin/libs/parsleyjs/dist/parsley.js'
            'bundles/admin/js/components_notifications.js'
            'bundles/admin/libs/ckeditor/ckeditor.js'
            'bundles/admin/libs/ckeditor/adapters/jquery.js'
            'bundles/admin/js/forms_wysiwyg.js'
            'bundles/admin/js/kendoui_custom.js'
            'bundles/admin/libs/typeahead.js/typeahead.bundle.min.js'
            'bundles/admin/js/kendoui.js'
            'bundles/admin/libs/materialize-tags/js/materialize-tags.min.js'
            'bundles/admin/js/forms_file_upload.js'
            'bundles/admin/js/custom.js'
            'bundles/admin/libs/datatables/media/js/jquery.dataTables.min.js'
            'bundles/admin/libs/datatables-colvis/js/dataTables.colVis.js'
            'bundles/admin/libs/datatables-tabletools/js/dataTables.tableTools.js'
            'bundles/admin/libs/datatables-tabletools/js/dataTables.tableTools.js'
            'bundles/admin/js/datatables_uikit.js'
            'bundles/admin/js/plugins_datatables.js'
            'bundles/admin/js/page_contact_list.js'

            output="compiled/js/base_admin_prod.min.js" 
            %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}" type="text/javascript"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}" type="text/javascript"></script>
        {% javascripts
            'bundles/admin/js/common.js'
            'bundles/admin/js/uikit_custom.js'
            'bundles/admin/js/altair_admin_common.js'
            'bundles/admin/libs/parsleyjs/dist/parsley.js'
            'bundles/admin/js/components_notifications.js'
            'bundles/admin/libs/ckeditor/ckeditor.js'
            'bundles/admin/libs/ckeditor/adapters/jquery.js'
            'bundles/admin/js/forms_wysiwyg.js'
            'bundles/admin/js/kendoui_custom.js'
            'bundles/admin/libs/typeahead.js/typeahead.bundle.min.js'
            'bundles/admin/js/kendoui.js'
            'bundles/admin/libs/materialize-tags/js/materialize-tags.min.js'
            'bundles/admin/js/forms_file_upload.js'
            'bundles/admin/js/custom.js'
            'bundles/admin/libs/datatables/media/js/jquery.dataTables.min.js'
            'bundles/admin/libs/datatables-colvis/js/dataTables.colVis.js'
            'bundles/admin/libs/datatables-tabletools/js/dataTables.tableTools.js'
            'bundles/admin/libs/datatables-tabletools/js/dataTables.tableTools.js'
            'bundles/admin/js/datatables_uikit.js'
            'bundles/admin/js/plugins_datatables.js'
            'bundles/admin/js/page_contact_list.js'

            output="compiled/js/base_admin_dev.min.js" 
            %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
        <script src="{{ asset('bundles/admin/libs/ckeditor/ckeditor.js') }}"></script>
        <script src="{{ asset('bundles/admin/libs/ckeditor/adapters/jquery.js') }}"></script>
    <script>
        altair_forms.parsley_validation_config();
        altair_forms.parsley_extra_validators();
        $(function() {
            altair_helpers.retina_images();
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }
        });

        $(function(){
            // Action buttons
            $("body").on('mouseenter', '.toggleable', togglize);
            $("body").on('mouseleave', '.toggleable', untogglize);

            // Table
            var t = document.getElementById('dt_individual_search');
            
            if (t != undefined && t != null) {
                $('#dt_individual_search').DataTable({
                    "destroy": true,
                    "sPaginationType" : "full_numbers",
                    "language" : {
                        "url": "{{ asset('bundles/admin/libs/datatables/media/lang/dataTables.'~app.request.locale ~'.json') }}"
                    }
                });
            }
        });
    </script>
    <script type="text/javascript">
        $(function(){
             $('.alert-flash').each(function(){
                showNotify($(this));
                //     UIkit.notify({
                //     message: $(this).data('message'),
                //     pos: 'top-right'
                // });
             });
        });
    </script>
{% endblock %}