{% trans_default_domain 'app' %}

{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'app.home.title'|trans }}{% endblock %}

{% block content %}
	<div class="flat-slider style3">
        <!-- SLIDER -->
        <div class="rev_slider_wrapper fullwidthbanner-container" >
            <div id="rev-slider1" class="rev_slider fullwidthabanner">
                <ul>
                	{% set files = media_files_by_folder('home-slides') %}
                	{% if files is not empty %}
                		{% for file in files %}
                			<li data-transition="slideright">
	                            <!-- Main Image -->
	                            <img src="{{ asset(file.path) }}" alt="" data-bgposition="center center" data-no-retina>
	                            {# <div class="overlay"></div> #}
	                            <!-- Layers -->
	                            <div class="tp-caption tp-resizeme font-rubik font-weight-700 text-right center-mobile"
	                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
	                            data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-65','-95']"
	                            data-fontsize="['48','48','38','18']"
	                            data-lineheight="['72','42','32','20']"
	                            data-width="full"
	                            data-height="none"
	                            data-whitespace="normal"
	                            data-transform_idle="o:1;"
	                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
	                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
	                            data-mask_in="x:0px;y:[100%];" 
	                            data-mask_out="x:inherit;y:inherit;" 
	                            data-start="1000" 
	                            data-splitin="none" 
	                            data-splitout="none" 
	                            data-responsive_offset="on">
	                            <a href="#" class="text-white letter-spacing-30">NOS CONNAISSANCES ET NOS RESSOURCES POUR VOUS FOURNIR LA HAUTE QUALITÉ</a>
	                            </div>
		                        <div class="tp-caption text-right center-mobile"
	                            data-x="['left','left','left','center']" data-hoffset="['-4','-4','-4','0']"
	                            data-y="['middle','middle','middle','middle']" data-voffset="['153','153','153','90']"
	                            data-width="full"
	                            data-height="none"
	                            data-whitespace="normal"
	                            data-transform_idle="o:1;"
	                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
	                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
	                            data-mask_in="x:0px;y:[100%];" 
	                            data-mask_out="x:inherit;y:inherit;" 
	                            data-start="1000" 
	                            data-splitin="none" 
	                            data-splitout="none" 
	                            data-responsive_offset="on" 
	                            {# data-margintop= "['50','50','50','50']" #}
	                            data-marginbottom= "['50','50','50','50']">
	                            <a href="{{ url('app_contact') }}" class="btn btn-primary font-weight-bold">{{ 'app.contact.button'|trans|upper }}</a>
	                            </div>
	                        </li>
                		{% endfor %}
                	{% else %}
                		<li data-transition="slideright">
                            <!-- Main Image -->
                            <img src="{{ asset('bundles/app/images/style3/slider1.png') }}" alt="" data-bgposition="center center" data-no-retina>
                            <div class="overlay"></div>

                            <!-- Layers -->
                            <div class="tp-caption tp-resizeme font-rubik font-weight-700 text-center center-mobile"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-65','-95']"
                            data-fontsize="['48','48','38','18']"
                            data-lineheight="['72','42','32','20']"
                            data-width="full"
                            data-height="none"
                            data-whitespace="normal"
                            data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];" 
                            data-mask_out="x:inherit;y:inherit;" 
                            data-start="1000" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on">
                            <a href="#" class="text-white letter-spacing-30">WE ARE A BUILDER WITH THE KNOWLEDGE AND RESOURCES TO COMPLETE HIGH QUALITY </a>
                            </div>

                            <div class="tp-caption text-center center-mobile"
                            data-x="['left','left','left','center']" data-hoffset="['-4','-4','-4','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['153','153','153','90']"
                            data-width="full"
                            data-height="none"
                            data-whitespace="normal"
                            data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                            data-mask_in="x:0px;y:[100%];" 
                            data-mask_out="x:inherit;y:inherit;" 
                            data-start="1000" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            data-margintop= "['50','50','50','50']"
                            data-marginbottom= "['50','50','50','50']">
                            <a href="#" class=" btn btn-styl button-started ">GET STARTED</a>
                            <a href="#" class="btn btn-styl2 button-contact style3">CONTACT US</a>
                            </div>
                        </li>

                        <li data-transition="slideright">
                            <!-- Main Image -->
                            <img src="{{ asset('bundles/app/images/style3/slider1.png') }}" alt="" data-bgposition="center center" data-no-retina>
                            <div class="overlay"></div>

                            <!-- Layers -->
                            <div class="tp-caption tp-resizeme font-rubik font-weight-700 text-right center-mobile"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-65','-95']"
                            data-fontsize="['48','48','38','18']"
                            data-lineheight="['72','42','32','20']"
                            data-width="full"
                            data-height="none"
                            data-whitespace="normal"
                            data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];" 
                            data-mask_out="x:inherit;y:inherit;" 
                            data-start="1000" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on">
                            <a href="#" class="text-white letter-spacing-30">WE ARE A BUILDER WITH THE KNOWLEDGE AND RESOURCES TO COMPLETE HIGH QUALITY </a>
                            </div>

                            <div class="tp-caption text-right center-mobile"
                            data-x="['left','left','left','center']" data-hoffset="['-4','-4','-4','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['153','153','153','90']"
                            data-width="full"
                            data-height="none"
                            data-whitespace="normal"
                            data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                            data-mask_in="x:0px;y:[100%];" 
                            data-mask_out="x:inherit;y:inherit;" 
                            data-start="1000" 
                            data-splitin="none" 
                            data-splitout="none" 
                            data-responsive_offset="on" 
                            data-paddingtop= "['50','50','50','50']"
                            data-paddingbottom= "['50','50','50','50']">
                            <a href="#" class=" btn btn-styl2  button-contact">CONTACT US</a>
                            </div>
                        </li>
                	{% endif %}
                </ul>
            </div>
        </div> 
    </div> <!-- /.flat-slider -->

    {# <div class="flat-quote style3 bg-f7f7f7">
        <div class="container">
                <div class="row">
                    <div class="col-md-12 clearfix">
                        <div class="wrap-icon-quote">
                            <div class="icon-quote" >
                                <span class="fas fa-comments" ></span>
                            </div>
                            <div class="content-quote">
                                <h2>All Services Is Perfect</h2>
                                <p>Looking for initial your project, send us a mail and we call back later</p>
                            </div>
                        </div> <!-- /.wrap-icon-quote -->
                    
                        <div class="btn-quote style3 text-right">
                            <a href="#" class=" btn btn-styl">GET A QUOTE</a>
                        </div> <!-- /.btn-quote -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.flat-quote --> #}


    <section class="flat-row flat-whyus style3">
        <div class="container">
            <div class="flat-title">
                <h2 class="title center-title">{{ 'app.feature.title'|trans }}</h2>
            </div> <!-- /.flat-title -->

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="flat-iconbox ">
                    	{% set features = expertise_features() %}
        				{% if features is not empty %}
        					{% for feature in features %}
        						<div class="iconbox iconbox-whyus style3">
	                                <div class="iconbox-icon">
	                                    <i class="{{ feature.icon }}"></i>
	                                </div>
	                                <div class="iconbox-content">
	                                    <h5 class="heading">{{ feature.name }}</h5>
	                                    <p class="sub-heading">{{ feature.description|raw }}</p>
	                                </div>
	                            </div>
        					{% endfor %}
        				{% else %}
        					<div class="iconbox iconbox-whyus style3">
                                <div class="iconbox-icon">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h5 class="heading">Expert & Professionnel</h5>
                                    <p class="sub-heading">In Aenean purus, pretium sito amet sapien. Nambat faucibus, morbi tempor, consectetur adipiscing elit.</p>
                                </div>
                            </div>

                            <div class="iconbox iconbox-whyus style3">
                                <div class="iconbox-icon">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h5 class="heading">Service de haute qualité</h5>
                                    <p class="sub-heading">In Aenean purus, pretium sito amet sapien. Nambat faucibus, morbi tempor, consectetur adipiscing elit.</p>
                                </div>
                            </div>

                            <div class="iconbox iconbox-whyus style3">
                                <div class="iconbox-icon">
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h5 class="heading">Fiable et honnêteté</h5>
                                    <p class="sub-heading">In Aenean purus, pretium sito amet sapien. Nambat faucibus, morbi tempor, consectetur adipiscing elit.</p>
                                </div>
                            </div>
        				{% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="image-single">
                        <img src="{{ asset('uploads/media/observatoire-BTP.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flat-services style4 pd-top-80 pd-bottom-10">
    	<div class="flat-title">
            <h2 class="title center-title">{{ 'app.service.title'|trans }}</h2>
        </div>
        <div class="container">
            <div class="row">
            	{% set services = expertise_services({}, {'createdAt': 'DESC'}, 3) %}
            	{% if services is not empty %}
            		{% for service in services %}
		                <div class="col-md-4 mb-5">
		                	<div>
                                <a href="{{ url('app_expertise_service_show', {'id': service.id}) }}">
                                	{% if service.picture is not empty %}
                                	<img src="{{ service.picture|imagine_filter('thumb', {"thumbnail": {"size": [460, 300] }}) }}">
                                	{% else %}
                                		<span class="{{ service.classIcon }}"></span>
                                	{% endif %}
                                </a>
                            </div>
                            <div class="mt-3">
	                        	<h4 class="heading"><a href="{{ url('app_expertise_service_show', {'id': service.id}) }}">{{ service.name|capitalize }}</a> </h4>
                            </div>
		                </div>
            		{% endfor %}
            	{% else %}
                    <div class="imagebox imagebox-service style4">
                        <div class="imagebox-border"> 
                            <div class="imagebox-image">
                                <a href="#"><img src="images/style4/service-1.png" alt="standell"></a>
                            </div>
                            <div class="imagebox-content">
                                <h4 class="heading"><a href="#">Lorem ipsum</a></h4>
                                <p>In pretium neque a libero congue. Elit diam lectus, prase lacinia vitae situt mattis. Etiam mollis maximus vehicula purus at tortor maximus ornare.</p>
                            </div>
                        </div> 
                    </div>
                    <div class="imagebox imagebox-service style4">
                        <div class="imagebox-border"> 
                            <div class="imagebox-image">
                                <a href="#"><img src="images/style4/service-1.png" alt="standell"></a>
                            </div>
                            <div class="imagebox-content">
                                <h4 class="heading"><a href="#">Lorem ipsum</a></h4>
                                <p>In pretium neque a libero congue. Elit diam lectus, prase lacinia vitae situt mattis. Etiam mollis maximus vehicula purus at tortor maximus ornare.</p>
                            </div>
                        </div> 
                    </div>
                    <div class="imagebox imagebox-service style4">
                        <div class="imagebox-border"> 
                            <div class="imagebox-image">
                                <a href="#"><img src="images/style4/service-1.png" alt="standell"></a>
                            </div>
                            <div class="imagebox-content">
                                <h4 class="heading"><a href="#">Lorem ipsum</a></h4>
                                <p>In pretium neque a libero congue. Elit diam lectus, prase lacinia vitae situt mattis. Etiam mollis maximus vehicula purus at tortor maximus ornare.</p>
                            </div>
                        </div> 
                    </div>
            	{% endif %}
            </div>
            <div class="text-center mb-5">
                <a class="btn btn-primary font-weight-bold" href="{{ url('app_expertise_service_list') }}">{{ 'app.service.show_more'|trans|upper }}</a>
            </div>
        </div>
    </section>
    <section class="flat-projects clearfix mt-5">
    	{% set projects = expertise_projects({}, {'createdAt': 'DESC'}, 1) %}
    	{% set project = projects|first|default(null) %}
        <div class="flat-title">
            <h2 class="title center-title">{{ 'app.project.title'|trans }}</h2>
        </div>
        <div class="container">
        	{% if project is not empty %}
	            <div class="row">
	                <div class="col-md-3">
	                    <div class="sidebar-left">
	                        <div class="widget-list-info">
	                            <h5 class="widget-title">{{ project.name|upper }}</h5>                                
	                            <ul class="list-info">
	                                <li>
	                                	<span class="text">{{ 'expertise.property.project.client'|trans({}, 'messages') }}:</span> 
	                                	<span class="right">{{ project.client }}</span>
	                                </li>
	                                <li>
	                                	<span class="text">{{ 'expertise.property.project.location'|trans({}, 'messages') }}:</span>
	                                	<span class="right">{{ project.location }}</span>
	                                </li>
	                                <li>
	                                	<span class="text">{{ 'expertise.property.project.startedAt'|trans({}, 'messages') }}:</span>
	                                	<span class="right">{{ project.startedAt|date('d/m/Y') }}</span>
	                                </li>
	                                <li>
	                                	<span class="text">{{ 'expertise.property.project.endedAt'|trans({}, 'messages') }}:</span>
	                                	<span class="right">{{ project.endedAt|date('d/m/Y') }}</span>
	                                </li>
	                                {# <li><span class="text">Architecter:</span> <span class="right"> Josh Brooklyn, Michael John</span></li>
	                                <li><span class="text">Employees:</span> <span class="right">over 250</span></li> #}
	                            </ul>
	                        </div>
	                        
                            <div class="mt-3">
                            	<a href="{{ url('app_expertise_project_show', {'id': project.id}) }}" class=" btn btn-styl ">{{ 'app.show_details'|trans|upper }}</a>
	                        </div>
	                        <div class="mt-3">
                            	<a href="{{ url('app_expertise_project_list') }}" class=" btn btn-styl2 text-warning">{{ 'app.project.show_all'|trans|upper }}</a>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-9">
	                    <div class="project-content">
	                    	{% if project.pictures is not empty %}
	                    	<div class="image-rallary mg-bottom-45">
                                <div class="themesflat-gallery  style-2 has-arrows arrow-center arrow-circle offset-v-82 has-thumb w170  clearfix" data-gap="0" data-column="1" data-column2="1" data-column3="1" data-auto="false">
                                    <div class="owl-carousel owl-theme">
                                    	{% for picture in project.pictures %}
	                                        <div class="gallery-item" >
	                                            <div class="inner">
	                                                <div class="thumb">
	                                                    <img src="{{ asset(picture) }}">
	                                                </div>
	                                            </div>
	                                        </div>
	                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        	{% else %}
		                    	<img src="{{ asset('bundles/app/images/projects/project-detail/big-project.jpg') }}">
		                    {% endif %}
	                    </div>
	                </div>    
	            </div>
        	{% else %}
	            <div class="row">
	                <div class="col-md-3">
	                    <div class="sidebar-left">
	                        <div class="widget-list-info">
	                            <h5 class="widget-title">The ALPINA CENTRAL BUILDING</h5>                                
	                            <ul class="list-info">
	                                <li>
	                                	<span class="text">{{ 'expertise.property.project.client'|trans({}, 'messages') }}:</span> 
	                                	<span class="right">SILVERSTONE Corp</span>
	                                </li>
	                                <li>
	                                	<span class="text">{{ 'expertise.property.project.location'|trans({}, 'messages') }}:</span>
	                                	<span class="right">Central of New Orleans</span>
	                                </li>
	                                <li><span class="text">{{ 'expertise.property.project.startedAt'|trans({}, 'messages') }}:</span> <span class="right">02 / 08 / 2016</span></li>
	                                <li><span class="text">{{ 'expertise.property.project.endedAt'|trans({}, 'messages') }}:</span> <span class="right">15 / 03 / 2018</span></li>
	                                {# <li><span class="text">Architecter:</span> <span class="right"> Josh Brooklyn, Michael John</span></li>
	                                <li><span class="text">Employees:</span> <span class="right">over 250</span></li> #}
	                            </ul>
	                        </div>
	                        
                            <div class="mt-3">
                            	<a href="{{ url('app_expertise_project_show', {'id': 1}) }}" class="btn btn-primary btn-block font-weight-bold">{{ 'app.show_details'|trans|upper }}</a>
	                        </div>
	                        <div class="mt-3">
                            	<a href="{{ url('app_expertise_project_list') }}" class="btn btn-secondary btn-block font-weight-bold">{{ 'app.project.show_all'|trans|upper }}</a>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-9">
	                    <div class="project-content">
	                    	<div class="image-rallary mg-bottom-45">
                                <div class="themesflat-gallery  style-2 has-arrows arrow-center arrow-circle offset-v-82 has-thumb w170  clearfix" data-gap="0" data-column="1" data-column2="1" data-column3="1" data-auto="false">
                                    <div class="owl-carousel owl-theme">
                                        <div class="gallery-item" >
                                            <div class="inner">
                                                <div class="thumb">
                                                    <img src="{{ asset('bundles/app/images/projects/project-detail/big-project.jpg') }}" alt="Image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" >
                                            <div class="inner">
                                                <div class="thumb">
                                                    <img src="{{ asset('bundles/app/images/projects/project-detail/big-project.jpg') }}" alt="Image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" >
                                            <div class="inner">
                                                <div class="thumb">
                                                    <img src="{{ asset('bundles/app/images/projects/project-detail/big-project.jpg') }}" alt="Image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gallery-item" >
                                            <div class="inner">
                                                <div class="thumb">
                                                    <img src="{{ asset('bundles/app/images/projects/project-detail/big-project.jpg') }}" alt="Image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
	                    </div>
	                </div>    
	            </div>
        	{% endif %}
        </div>
    </section>

    {# <section class="flat-row flat-team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-title">
                        <h2 class="title center-title">{{ 'app.staff.title'|trans }}</h2>
                    </div>
                    <div class="team-wrap clearfix">
                        <div class="themesflat-carousel-box data-effect clearfix" data-gap="30" data-column="4" data-column2="3" data-column3="1" data-dots= "false" data-auto="false">
                        <div class="owl-carousel">

                                <div class="team-member text-center">
                                    <div class="team-image">
                                        <a href="#" title=""><img src="images/style3/expert1.png" alt=""></a>
                                        <div class="overlay"></div>
                                        <div class="team-desc">
                                            <ul class="social">
                                                <li>
                                                    <a class="facebook data-hover" href="" title="Facebook">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="twitter data-hover" href="" title="Twitter">
                                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google data-hover" href="" title="Google Plus">
                                                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="linkedin data-hover" href="" title="Linkedin">
                                                        <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul><!-- /.social -->
                                        </div>
                                    </div><!-- /.team-image -->
                                    <div class="team-info">
                                        <div class="name">
                                            <a href="#" title="">Jackson Garner</a>
                                        </div>
                                        <div class="job">
                                            Engineer
                                        </div>
                                        
                                    </div><!-- /.team-info -->
                                </div> <!-- /.team-member -->

                                <div class="team-member text-center">
                                    <div class="team-image">
                                        <a href="#" title=""><img src="images/style3/expert2.png" alt=""></a>
                                        <div class="overlay"></div>
                                        <div class="team-desc">
                                            <ul class="social">
                                                <li>
                                                    <a class="facebook data-hover" href="" title="Facebook">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="twitter data-hover" href="" title="Twitter">
                                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google data-hover" href="" title="Google Plus">
                                                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="linkedin data-hover" href="" title="Linkedin">
                                                        <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul><!-- /.social -->
                                        </div>
                                    </div><!-- /.team-image -->

                                    <div class="team-info">
                                        <div class="name">
                                            <a href="#" title="">Oliver Giroud</a>
                                        </div>
                                        <div class="job">
                                            Supervisor
                                        </div>
                                        
                                    </div><!-- /.team-info -->
                                </div> <!-- /.team-member -->

                                <div class="team-member text-center">
                                    <div class="team-image">
                                        <a href="#" title=""><img src="images/style3/expert3.png" alt=""></a>
                                        <div class="overlay"></div>
                                        <div class="team-desc">
                                            <ul class="social">
                                                <li>
                                                    <a class="facebook data-hover" href="" title="Facebook">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="twitter data-hover" href="" title="Twitter">
                                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google data-hover" href="" title="Google Plus">
                                                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="linkedin data-hover" href="" title="Linkedin">
                                                        <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul><!-- /.social -->
                                        </div>
                                    </div><!-- /.team-image -->
                                    <div class="team-info">
                                        <div class="name">
                                            <a href="#" title="">Alicia Burrows</a>
                                        </div>
                                        <div class="job">
                                            Employee
                                        </div>
                                    </div><!-- /.team-info -->
                                </div> <!-- /.team-member -->

                                <div class="team-member text-center">
                                    <div class="team-image">
                                        <a href="#" title=""><img src="images/style3/expert4.png" alt=""></a>
                                        <div class="overlay"></div>
                                        <div class="team-desc">
                                            <ul class="social">
                                                <li>
                                                    <a class="facebook data-hover" href="" title="Facebook">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="twitter data-hover" href="" title="Twitter">
                                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google data-hover" href="" title="Google Plus">
                                                        <i class="fab fa-google-plus-g" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="linkedin data-hover" href="" title="Linkedin">
                                                        <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul><!-- /.social -->
                                        </div>
                                    </div><!-- /.team-image -->
                                    <div class="team-info">
                                        <div class="name">
                                            <a href="#" title="">Tanisa Krush</a>
                                        </div>
                                        <div class="job">
                                            Secretary
                                        </div>   
                                    </div><!-- /.team-info -->
                                </div> <!-- /.team-member -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /.flat-team --> #}

    <section class="flat-testimonials style2 pd-top-80 pd-bottom-55 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-title style2">
                        <h2 class="title center-title no-line-bottom">{{ 'app.testimonial.title'|trans }}</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="flat-carousel">
                        <div class="themesflat-carousel-box data-effect clearfix" data-gap="10" data-column="1" data-column2="1" data-column3="1" data-auto="false" data-dots = "true" data-nav = "true">
                            <div class="owl-carousel owl-theme owl-loaded owl-carousel-testimonial">
                            	{% set testimonials = expertise_testimonials() %}
			        			{% if testimonials is not empty %}
			        				{% for testimonial in testimonials %}
			        					 <div class="testimonials style2 text-center">
	                                        <div class="author-info">
	                                        	<img src="{{ testimonial.picture }}">
	                                            <h5 class="name"><a href="">{{ testimonial.author }}</a></h5>
	                                            <p class="info">{{ testimonial.position }}, {{ testimonial.company }},</p>
	                                            <div class="list-star">
	                                                <i class="ion-star"></i>
	                                                <i class="ion-star"></i>
	                                                <i class="ion-star"></i>
	                                                <i class="ion-star"></i>
	                                                <i class="ion-ios-star-half"></i>
	                                            </div>
	                                        </div>
	                                        <blockquote class="testimonial-text text-white">
	                                            {{ testimonial.message }}
	                                        </blockquote>
	                                    </div>
			        				{% endfor %}
			        			{% else %}
			        				<div class="testimonials style2 text-center">
                                        <div class="author-info">
                                            <h5 class="name"><a href="">Mr. Russell Brand </a></h5>
                                            <p class="info">CEO Deer Inc,</p>
                                            <div class="list-star">
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-ios-star-half"></i>
                                            </div>
                                        </div>
                                        <blockquote class="testimonial-text text-white">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                        </blockquote>
                                    </div>
                                    <div class="testimonials style2 text-center">
                                        <div class="author-info">
                                            <h5 class="name"><a href="">Mr. Russell Brand </a></h5>
                                            <p class="info">CEO Deer Inc,</p>
                                            <div class="list-star">
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-ios-star-half"></i>
                                            </div>
                                        </div>
                                        <blockquote class="testimonial-text text-white">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                        </blockquote>
                                    </div>
                                    <div class="testimonials style2 text-center">
                                        <div class="author-info">
                                            <h5 class="name"><a href="">Mr. Russell Brand </a></h5>
                                            <p class="info">CEO Deer Inc,</p>
                                            <div class="list-star">
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-star"></i>
                                                <i class="ion-ios-star-half"></i>
                                            </div>
                                        </div>
                                        <blockquote class="testimonial-text text-white">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                        </blockquote>
                                    </div>
			        			{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="partner-clients">
        <div class="container">
        	<div class="row">
                <div class="col-md-12">
                    <div class="flat-title style2">
                        <h2 class="title center-title no-line-bottom">{{ 'app.partner.title'|trans }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                	{% set partners = expertise_partners() %}
                	{% if partners is not empty %}
                		<div class="slide-client owl-carousel" data-auto="true" data-item="5" data-item2="3" data-item3="2" data-nav="false" data-dots="false">
                    		{% for partner in partners %}
                    			<div class="client">
	                                <a href="{{ partner.location|default('#') }}">
	                                    <img src="{{ partner.picture }}"  alt="{{ partner.name }}">
	                                    <img src="{{ partner.picture }}" alt="{{ partner.name }}">
	                                </a>
	                            </div>
                    		{% endfor %}
                        </div>
                	{% else %}
                		<div class="slide-client owl-carousel" data-auto="true" data-item="5" data-item2="3" data-item3="2" data-nav="false" data-dots="false">
                            <div class="client">
                                <a href="#">
                                    <img src="{{ asset('bundles/app/images/partner-logo-1.png') }}"  alt="partner">
                                    <img src="{{ asset('bundles/app/images/partner-logo-1.png') }}"  alt="partner">
                                </a>
                            </div>
                            <div class="client">
                                <a href="#">
                                    <img src="{{ asset('bundles/app/images/partner-logo-1.png') }}"  alt="partner">
                                    <img src="{{ asset('bundles/app/images/partner-logo-1.png') }}"  alt="partner">
                                </a>
                            </div>
                            <div class="client">
                                <a href="#">
                                    <img src="{{ asset('bundles/app/images/partner-logo-1.png') }}"  alt="partner">
                                    <img src="{{ asset('bundles/app/images/partner-logo-1.png') }}"  alt="partner">
                                </a>
                            </div>
                            <div class="client">
                                <a href="#">
                                    <img src="{{ asset('bundles/app/images/partner-logo-1.png') }}"  alt="partner">
                                    <img src="{{ asset('bundles/app/images/partner-logo-1.png') }}"  alt="partner">
                                </a>
                            </div>
                            <div class="client">
                                <a href="#">
                                    <img src="{{ asset('bundles/app/images/partner-logo-1.png') }}"  alt="partner">
                                    <img src="{{ asset('bundles/app/images/partner-logo-1.png') }}"  alt="partner">
                                </a>
                            </div>
                        </div>
                	{% endif %}
                    
                </div>
            </div>
        </div>
    </div>
    <section class="flat-row flat-join-team bg-f7f7f7">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-title text-center">
                        <h2 class="title center-title no-line-bottom">{{ 'app.contact.description'|trans|raw }}</h2> 
                    </div>
                </div>
            </div>
            <form name="form-join-team" id="form-contact-us" action="{{ url('app_contact_create') }}" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" name="name" class="style3" placeholder="{{ 'contact.property.contact.fullName'|trans({}, 'messages') }}" required="">
                        <input type="text" name="email" class="style3"  placeholder="{{ 'contact.property.contact.email'|trans({}, 'messages') }}" required="">
                        <input type="text" name="phoneNumber" class="style3"  placeholder="{{ 'contact.property.contact.phoneNumber'|trans({}, 'messages') }}" required="">
                        <input type="text" name="subject" class="style3"  placeholder="{{ 'contact.property.contact.subject'|trans({}, 'messages') }}" required="">
                        <textarea name="message" class="style3"  placeholder="{{ 'contact.property.contact.message'|trans({}, 'messages') }}" rows=10></textarea>
                    </div>
                    <div class="col-md-6">
                    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.5759286332923!2d-5.280151085827263!3d6.821318421523294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfb89124b9176f79%3A0x809aa6d8c7480844!2sRadio+Jam!5e0!3m2!1sfr!2sci!4v1544718333926" width="100%" height="560" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="text-left">
                    <button type="submit" class="btn btn-primary btn-small">{{ 'app.contact.button'|trans|upper }}</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}