{% trans_default_domain 'app' %}

{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'app.about.values'|trans }}{% endblock %}

{% block content %}
	<div class="page-title parallax parallax1" {% if page is not empty and page.picture is not empty %}style="background-image: url({{ page.picture }})"{% endif %}>
        <div class="overlay"></div>
        <div class="container">
            <div class="page-title-content text-center">
                <div class="page-title-heading">
                    <h2 class="title text-white font-weight-700">
                        {{ page is not empty ? page.name|upper : 'app.about.values'|trans|upper }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <section class="flat-row flat-about-us style3">
        <div class="container">
            <div class="row">
                <div class="col-md12">
                    {{ page is not empty ? page.content|raw : 'app.about.description'|trans|raw }}
                </div>
            </div>
        </div>    
    </section>
{% endblock %}