{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Contact:layout_editor.html.twig' %}

{% block title %}{{ parent() }} - {{ "contact.content.contact.create"|trans|capitalize }} {% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <a href=" {{ url('admin_contact_list') }} ">
       {{ 'contact.content.contact.list'|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    <em>{{ "contact.content.contact.create"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% include 'AdminBundle:Contact:form_contact.html.twig' with { 'form': form } %}
    </div>
{% endblock %}

{% block modal %}
    <div class="uk-modal" id="choose_files_modal">
        <div class="uk-modal-dialog uk-modal-dialog-large" id="choose_files_modal_dialog">
        </div>
    </div>
{% endblock %}
