{% trans_default_domain 'messages' %}

{% set subactive = "admin_calendar_agendas" %}

{% extends 'CalendarBundle::layout_table.html.twig' %}

{% block title %}{{ parent() }} - {{ "calendar.content.agenda.list"|trans|capitalize }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        'bundles/admin/libs/kendo-ui/styles/kendo.common-material.min.css'
        'bundles/admin/libs/kendo-ui/styles/kendo.material.min.css'
        filter='cssrewrite' 
        %}
    <link rel="stylesheet" href="{{ asset_url }}" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div id="page_content">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <div class="heading_actions">
                <a href="{{ url('admin_calendar_agenda_create')}}" class="md-btn md-btn-primary show-modal">
                    Ajouter
                    <i class="material-icons md-24">&#xE147;</i>
                </a>
            </div>
            <h1>{{ "calendar.title"|trans|capitalize }} - {{ "calendar.content.agenda.list"|trans|capitalize }}</h1>
        </div>
        <div id="page_content_inner">
            <div class="uk-width-medium-8-10 uk-container-center">
                <div class="md-card">
                    {% if agendas is not empty %}
                        <div class="md-card-toolbar">
                            <div class="md-card-toolbar-actions">
                                <a href="#" class="md-btn md-btn-flat md-btn-flat-danger remove-list toggle-action uk-hidden" data-uk-modal="{target:'#remove_list_modal'}">
                                    <i class="material-icons md-24">&#xE872;</i> 
                                    {{ "button.remove_list"|trans }}
                                </a>
                                <a href="#" class="md-btn md-btn-flat md-btn-flat-primary" id="toggle-check">
                                    <i class="material-icons md-24 toggle-icon" id="toggle-check-icon">&#xE835;</i>
                                    <span id="toggle-check-text">{{ "button.select_all"|trans }}</span>
                                </a>
                                <input type="hidden" value="{{ agendas|length|default('0') }}" id="toggle-items-count">
                                <input type="hidden" value="0" id="toggle-items-checked-count">
                            </div>
                    </div>
                    {% endif %}
                    <div class="md-card-content">
                        <table id="dt_individual_search" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ "calendar.property.agenda.name"|trans }}</th>
                                    <th>{{ "calendar.property.agenda.visibility"|trans }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for agenda in agendas %}
                                    <tr class="toggleable" id="item-{{agenda.id}}">
                                        <td>
                                            <a class="uk-text-muted uk-text-small uk-text-left uk-hidden toggleable-btn toggleable-btn-select" href="#">
                                                <i class="material-icons md-24 toggle-icon toggle-item" id="toggle-item-{{ agenda.id }}">&#xE835;</i>
                                            </a>
                                        </td>
                                        <td>{{ agenda.name }}</td>
                                        <td>
                                            {% if agenda.visibility == "private" %}
                                                <span class="uk-badge md-bg-teal-400">Privé</span>
                                            {% elseif agenda.visibility == "share" %}
                                                <span class="uk-badge md-bg-blue-400">Partagé</span>
                                            {% else %}
                                                <span class="uk-badge md-bg-grey-400">Public</span>
                                            {% endif %}
                                        </td>
                                        <td class="uk-text-right">
                                            <a href="{{ url('admin_calendar_agenda', {'id': agenda.id}) }}" alt="{{ "button.show"|trans }}" title="{{ "button.show"|trans }}" class="uk-hidden toggleable-btn show-modal">
                                                <i class="md-icon material-icons uk-text-primary">&#xE8F4;</i>
                                            </a>
                                            <a href="{{ url('admin_calendar_agenda_update', {'id': agenda.id}) }}" data-uk-tooltip="{pos:'bottom'}" title="{{ "button.update"|trans }}" class="uk-hidden toggleable-btn show-modal" alt="{{ "button.update"|trans }}">
                                                <i class="material-icons md-icon uk-text-primary">&#xE3C9;</i>
                                            </a>
                                            <a href="#remove_item_modal" data-uk-modal="{ center:true }" class="uk-hidden toggleable-btn" title="{{ "button.remove"|trans }}" alt="{{ "button.remove"|trans }}">
                                                <i class="md-icon material-icons uk-text-danger remove-item" id="remove-item-{{ agenda.id }}">&#xE872;</i>
                                            </a>
                                            <input type="hidden" id="url-remove-item-{{ agenda.id }}" value="{{ url('admin_calendar_agenda_remove', {'id': agenda.id}) }}">
                                            <input type="hidden" id="label-remove-item-{{ agenda.id }}" value="{{ agenda.name }}">
                                        </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-modal" id="showModal"></div>
    <div class="uk-modal" id="remove_item_modal">
        <div class="uk-modal-dialog">
            <div class="uk-margin-medium-bottom uk-text-center">
                <h3>{{ "calendar.content.agenda.remove"|trans|capitalize }} <span id="remove_item_label" class="uk-text-bold"></span>?</h3>
            </div>
            <div class="uk-modal-footer uk-text-center">
                <button type="button" class="md-btn uk-modal-close">{{ "button.close"|trans }}</button>
                <a href="" class="md-btn md-btn-danger" id="remove_item_url">{{ "button.remove"|trans }}</a>
            </div>
        </div>
    </div>
    <div class="uk-modal" id="remove_list_modal">
        <div class="uk-modal-dialog">
            <div class="uk-margin-medium-bottom uk-text-center">
                <h3>{{ "calendar.content.agenda.remove_list"|trans|capitalize }} ?</h3>
            </div>
            <div class="uk-modal-footer uk-text-center">
                <button type="button" class="md-btn uk-modal-close">{{ "button.close"|trans }}</button>
                <a href="{{url("admin_calendar_agendas_remove")}}" class="md-btn md-btn-danger" id="remove_list_btn">{{ "button.remove"|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}