{% trans_default_domain 'messages' %}

{{ form_start(form, {'attr': {'id': 'form_validation', 'class': 'uk-form-stacked'}}) }}
    <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
        <div class="uk-width-xLarge-7-10 uk-width-large-7-10">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                        <div class="uk-width-large-1-1">
                            <div class="uk-form-row">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                            </div>
                            <div class="uk-form-row">
                                {{ form_label(form.speaker) }}
                                {{ form_widget(form.speaker) }}
                            </div>
                            <div class="uk-form-row">
                                {{ form_label(form.category) }}
                                {{ form_widget(form.category) }}
                            </div>
                            <div class="uk-form-row">
                                {{ form_label(form.tags) }}
                                {{ form_widget(form.tags) }}
                            </div>
                            <div class="uk-form-row">
                                {{ form_widget(form.description, {'id': 'wysiwyg_ckeditor'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-xLarge-3-10 uk-width-large-3-10">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-form-row">
                        <div class="uk-float-right">
                            {{ form_widget(form.visible) }}
                        </div>
                        {{ form_label(form.visible) }}
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-float-right">
                            {{ form_widget(form.enableComments) }}
                        </div>
                        {{ form_label(form.enableComments) }}
                    </div>
                </div>
            </div>

            {% include 'MediaBundle:File:embedded.html.twig' with { 'formData': form.picture, 'data': post is defined ? post.picture : null, 'suffix': 'picture' } %}
            <br/>
            {% include 'MediaBundle:File:embedded.html.twig' with { 'formData': form.audio, 'data': post is defined ? post.audio : null, 'suffix': 'audio' } %}
            <br/>
            {% include 'MediaBundle:File:embedded.html.twig' with { 'formData': form.video, 'data': post is defined ? post.video : null, 'suffix': 'video' } %}
            <br/>
            {% include 'MediaBundle:File:embedded.html.twig' with { 'formData': form.document, 'data': post is defined ? post.document : null, 'suffix': 'document' } %}
            
        </div>
    </div>
    <div class="md-fab-wrapper">
        {{ form_widget(form.save, {'id': 'save'}) }}
    </div>
{{ form_end(form) }}