{% trans_default_domain 'messages' %}

{% set subactive = "blog_posts" %}

{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "blog.content.category.update"|trans|capitalize }} {% endblock %}
    
{% block stylesheets %}
    {{ parent() }}
     {% stylesheets 
        'bundles/admin/skins/tinymce/material_design/skin.min.css'
        'bundles/admin/libs/kendo-ui/styles/kendo.common-material.min.css'
        'bundles/admin/libs/kendo-ui/styles/kendo.material.min.css'
        filter='cssrewrite' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div id="page_content">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <h1>{{ "blog.content.bundle_name"|trans|capitalize }} - {{ "blog.content.category.update"|trans|capitalize }}</h1>
            <span class="sub_heading">
                <a href="{% if app.request.query.get('parent') is not empty %}{{ url('blog_category', {'id': app.request.query.get('parent')}) }} {% else %} {{ url('blog_category', {'id':category.id}) }} {% endif %}">
                   <i class="material-icons">&#xE5C4;</i>
                    {{ "button.back"|trans }}
                </a>
                /<em>{{ category.name|capitalize }}</em>
            </span>
        </div>
        <div id="page_content_inner">
            {{ form_start(form, {'method': 'POST'}) }}
                <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
                    <div class="uk-width-xLarge-7-10  uk-width-large-7-10">
                        <div class="md-card">
                            <div class="md-card-content">
                                <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                                    <div class="uk-width-large-1-1">
                                        <div class="uk-form-row">
                                            {{ form_label(form.name) }}
                                            {{ form_widget(form.name) }}
                                        </div>
                                        <div class="uk-form-row">
                                            <div>
                                                {{ form_widget(form.description, {'id': 'wysiwyg_ckeditor'}) }}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-xLarge-3-10 uk-width-large-3-10">
                        <div class="md-card">
                            <div class="md-card-toolbar">
                                <div class="md-card-toolbar-actions">
                                    <a href="#choose_files_modal" data-uk-modal="{ center:false }" data-uk-tooltip="{pos:'bottom'}" title="{{ "button.add"|trans }}" id="choose_files_btn_picture" alt="{{ "button.add"|trans }}">
                                        <i class="md-icon material-icons">&#xE146;</i>
                                    </a>
                                </div>
                                <h3 class="md-card-toolbar-heading-text">
                                    {{ form_label(form.picture, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                                </h3>
                            </div>
                            <div class="md-card-content {% if category.picture is empty %}uk-hidden{% endif %}" id="target_container_picture">
                                <img src="{{ category.picture }}" alt="" class="img_large" id="target_picture"/>
                                {{ form_widget(form.picture, {'id': 'files_to_add_picture'}) }}
                            </div>
                        </div>
                    </div>
                    <div class="md-fab-wrapper">
                        {{ form_widget(form.create, {'id': 'save'}) }}
                    </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="uk-modal" id="choose_files_modal">
        <div class="uk-modal-dialog uk-modal-dialog-large" id="choose_files_modal_dialog">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        'bundles/admin/libs/ckeditor/ckeditor.js'
        'bundles/admin/libs/ckeditor/adapters/jquery.js'
        'bundles/admin/js/forms_wysiwyg.js'
        'bundles/admin/js/kendoui_custom.js'
        'bundles/admin/libs/typeahead.js/typeahead.bundle.min.js'
        'bundles/admin/js/kendoui.js'
        
        output="compile/js/admin_newsletter_template_update.min.js" 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        // Allow picture
        $("#choose_files_btn_picture").click(function(){
            altair_form_file_upload.choose_files_modal("picture", "blog/categories");
        });
    </script>
{% endblock %}