{% trans_default_domain 'app' %}

{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block pagetitle %}
<h2><i class="fa fa-user"></i> {{ app.user }} <span>Modifier votre mot de passe</span></h2>
{% endblock %}

{% block pagecontent %}
{% if isPasswordChanged == false %}
    <div class="alert alert-danger">
        {# <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button> #}
        <p class="text-danger">
            <i class="glyphicon glyphicon-warning-sign"></i>
            Modifier votre mot de passe et renseigner une adresse e-mail valide avant de continuer.
        </p>
    </div>
{% endif %}
{% import 'AppBundle:User:macro.html.twig' as tpl %}
<div class="row">
	<div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
        	{{ form_start(form) }}
        		<div class="panel-heading">
        			<h4 class="panel-title">{{ 'form.title.change_password'|trans }}</h4>
        		</div>
        		
        		<div class="panel-body">
                    {% if isPasswordChanged == false %}
                        <div class="form-group">
                            <label for="{{ form.email.vars.id }}" class="control-label">{{ form.email.vars.label|trans }}{% if form.email.vars.required %} <span class="asterisk">*</span>{% endif %}</label>
                            {{ form_widget(form.email, {'value': ''}) }}
                        </div>
                    {% endif %}

                    <div class="form-group{% if form.currentPassword.vars.errors is not empty %} has-error{% endif %}">
            			<label for="{{ form.currentPassword.vars.id }}" class="control-label">{{ form.currentPassword.vars.label|trans }}{% if form.currentPassword.vars.required %} <span class="asterisk">*</span>{% endif %}</label>
            			{{ form_widget(form.currentPassword) }}
            			{% if form.currentPassword.vars.errors is not empty %}
            			{% for error in form.currentPassword.vars.errors %}
            			<label for="{{ form.currentPassword.vars.id }}" class="error">{{ error.message }}</label>
            			{% endfor %}
            			{% endif %}
            		</div>
            		
                    <div class="form-group{% if form.plainPassword.first.vars.errors is not empty %} has-error{% endif %}">
            			<label for="{{ form.plainPassword.first.vars.id }}" class="control-label">{{ form.plainPassword.first.vars.label|trans }}{% if form.plainPassword.first.vars.required %} <span class="asterisk">*</span>{% endif %}</label>
            			{{ form_widget(form.plainPassword.first) }}
            			{% if form.plainPassword.first.vars.errors is not empty %}
            			{% for error in form.plainPassword.first.vars.errors %}
            			<label for="{{ form.plainPassword.first.vars.id }}" class="error">{{ error.message }}</label>
            			{% endfor %}
            			{% endif %}
            		</div>
            		
                    <div class="form-group{% if form.plainPassword.second.vars.errors is not empty %} has-error{% endif %}">
            			<label for="{{ form.plainPassword.second.vars.id }}" class="control-label">{{ form.plainPassword.second.vars.label|trans }}{% if form.plainPassword.second.vars.required %} <span class="asterisk">*</span>{% endif %}</label>
            			{{ form_widget(form.plainPassword.second) }}
            			{% if form.plainPassword.second.vars.errors is not empty %}
            			{% for error in form.plainPassword.second.vars.errors %}
            			<label for="{{ form.plainPassword.second.vars.id }}" class="error">{{ error.message }}</label>
            			{% endfor %}
            			{% endif %}
            		</div>
        		</div>
        		<div class="panel-footer">
        			{{ form_widget(form.submit) }}
        {# 			<button name="{{ form.submit.vars.id }}" class="btn {{ submit.type }} mr5"><i class="{{ submit.icon }}"></i> {{ submit.label }}</button>#}
        {# 			<button name="{{ form.vars.name }}[submit]" class="btn {{ submit.type }} mr5"><i class="{{ submit.icon }}"></i> {{ submit.label }}</button>#}
        		</div>
        	{{ form_end(form) }}
        </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}
