{% trans_default_domain 'app' %}

{% extends 'AppBundle::layout_security.html.twig' %}

{% block title %}Douanes App - Mot de passe oublié{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block form %}
{{ form_start(form) }}
	{#<h4 class="nomargin">{{ 'security.login.password_forbidden'|trans }}</h4>#}
	{{ form_widget(form.plainPassword.first) }}
	{% if form.plainPassword.first.vars.errors is not empty %}
	<div class="error" style="display: block;">
		{% for error in form.plainPassword.first.vars.errors %}
		<label class="error">{{ error.message|trans }}</label>
		{% endfor %}
	</div>
	{% endif %}
	
	{{ form_widget(form.plainPassword.second) }}
	{% if form.plainPassword.second.vars.errors is not empty %}
	<div class="error" style="display: block;">
		{% for error in form.plainPassword.second.vars.errors %}
		<label class="error">{{ error.message|trans }}</label>
		{% endfor %}
	</div>
	{% endif %}
	<a href="{{ path('app_security_login') }}"><small>{{ 'layout.login'|trans }}</small></a>
	{{ form_widget(form.submit) }}
{{ form_end(form) }}
{% endblock %}
		
{% block javascripts %}{{ parent() }}{% endblock %}
