{% trans_default_domain 'messages' %}

{{ form_start(form, {'class': 'uk-form-stacked'}) }}
    <div class="uk-margin-medium-bottom">
        {{ form_label(form.name, null, {'label_attr': {'class': 'uk-form-label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'md-input'}}) }}
    </div>
    <div class="uk-margin-medium-bottom">
        {{ form_label(form.tag, null, {'label_attr': {'class': 'uk-form-label'}}) }}
        {{ form_widget(form.tag, {'attr': {'class': 'md-input'}}) }}
    </div>
    <div class="uk-margin-medium-bottom">
        {{ form_label(form.allowedExtensions, null, {'label_attr': {'class': 'uk-form-label'}}) }}
        {{ form_widget(form.allowedExtensions, {'id': 'filter', 'attr': {'class': 'md-input'}}) }}
    </div>
    <div class="uk-modal-footer uk-text-right">
        <button type="button" class="md-btn md-btn-flat uk-modal-close">{{ "button.close"|trans }}</button>
        <button type="submit" class="md-btn md-btn-success">{{ "button.save"|trans }}</button>
    </div>
{{ form_end(form) }}
