{% trans_default_domain 'messages' %}

{% extends 'AdminBundle::layout_table.html.twig' %}

{% block title %} {{ parent() }} - {{ "media.title"|trans }} {% endblock %}

{% set searchEnabled = 1 %}

{% block breadcrumbmodule %}
	{{ parent() }}
	<i class="fa fa-chevron-right"></i>
	<span>{{ "media.title"|trans|capitalize }}</span>
	<i class="fa fa-chevron-right"></i>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/admin/js/media.js'
        output="compile/js/admin_media.min.js" 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}



