{% trans_default_domain 'messages' %}

<div class="uk-modal-dialog">
    <div class="uk-modal-body">
        <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-1-1 uk-text-center">
                <embed src="{{ file.path }}" width="100%" controls id="item_{{ file.id }}" /></embed>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-margin-small-bottom">
                    <label class="uk-text-bold">{{ 'media.file.name'|trans }}</label> :
                    {{ file.name }}
                </div>
                <div class="uk-margin-small-bottom">
                    <label class="uk-text-bold">{{ 'media.file.caption'|trans }}</label> :
                    {{ file.caption }}
                </div>
                <div class="uk-margin-small-bottom">
                    <label class="uk-text-bold">{{ 'media.file.extension'|trans }}</label> :
                    {{ file.extension }}
                </div>
                <div class="uk-margin-small-bottom">
                    <label class="uk-text-bold">{{ 'media.file.size'|trans }}</label> :
                    {{ file.sizeConvert }}
                </div>
                <div class="uk-margin-small-bottom">
                    <label class="uk-text-bold">{{ 'media.file.path'|trans }}</label> :
                    <a href="{{ file.path }}">{{ file.path }}</a>
                </div>
                <div class="uk-margin-small-bottom">
                    <label class="uk-text-bold">{{ 'media.file.createdAt'|trans }}</label> :
                    <small>{{ file.createdAt|date('d-m-Y H:i') }}</small>
                </div>
                <div class="uk-margin-small-bottom">
                    <label class="uk-text-bold">{{ 'media.file.updatedAt'|trans }}</label> :
                    <small>{{ file.updatedAt|date('d-m-Y H:i') }}</small>
                </div>
            </div>
        </div>
    </div>
</div>
