{% trans_default_domain 'messages' %}

{% extends 'ExpertiseBundle::layout_table.html.twig' %}

{% block title %} {{ parent() }} - {{ "admin.content.menu.show"|trans|capitalize }} {{ menu.name }} {% endblock %}

{% block headingactions %}
<div class="heading_actions">
    <div class="md-card-head-menu" data-uk-dropdown="{pos:'bottom-right'}">
        <a class="md-btn md-btn-flat " href="#" data-uk-modal="{ center:true }">
            Actions
            <i class="material-icons">&#xE5D4;</i>
        </a>
        <div class="uk-dropdown uk-dropdown-small">
            <ul class="uk-nav">
                <li>
                    <a href="{{ url('admin_menu_item_create', {'id': menu.id}) }}" class="show-modal">
                        <i class="material-icons md-24">&#xE254;</i>
                        {{ "button.add"|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ url('admin_menu_update', {'id': menu.id}) }}" class="show-modal">
                        <i class="material-icons md-24">&#xE254;</i>
                        {{ "button.update"|trans }}
                    </a>
                </li>
                <li>
                    <a href="#remove_item_modal" data-uk-modal="{ center:true }" alt="Supprimer" title="Supprimer">
                        <span class="remove-item" id="remove-item-{{ menu.id }}">
                            <i class="material-icons uk-text-danger md-24">&#xE872;</i>
                            {{ "button.remove"|trans }}
                        </span>
                    </a>
                    <input type="hidden" id="url-remove-item-{{ menu.id }}" value="{{ url('admin_menu_delete', {'id': menu.id})}}">
                    <input type="hidden" id="label-remove-item-{{ menu.id }}" value="{{ menu.name }}">
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <i class="material-icons">keyboard_arrow_right</i>
    <span>{{ "admin.title"|trans|capitalize }}</span>
    <i class="material-icons">keyboard_arrow_right</i>
    <a href="{{ url('admin_menu_list') }}">{{ "admin.content.menu.list"|trans|capitalize }}</a>
    <i class="material-icons">keyboard_arrow_right</i>
    <em>{{ "admin.content.menu.show"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% if menuItems is not empty %}
            <div class="uk-width-1-1 uk-text-right">
                <a href="#" class="md-btn md-btn-flat md-btn-flat-danger remove-list toggle-action uk-hidden" data-uk-modal="{target:'#remove_list_modal'}">
                    <i class="material-icons md-24">&#xE872;</i> 
                    {{ "button.remove_list"|trans|upper }}
                </a>
                <a href="#" class="md-btn md-btn-flat md-btn-flat-primary" id="toggle-check">
                    <i class="material-icons md-24 toggle-icon" id="toggle-check-icon">&#xE835;</i>
                    <span id="toggle-check-text">{{ "button.select_all"|trans|upper }}</span>
                </a>
                <input type="hidden" value="{{ menuItems|length|default('0') }}" id="toggle-items-count">
                <input type="hidden" value="0" id="toggle-items-checked-count">
        </div>
        {% endif %}
        <div class="uk-width-medium-8-10 uk-container-center">
            <div class="md-card">
                <div class="md-card-content">
                    <table id="dt_individual_search" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ "admin.property.menuItem.name"|trans }}</th>
                                <th>{{ "admin.property.menuItem.parent"|trans }}</th>
                                <th>{{ "admin.property.menuItem.page"|trans }}</th>
                                <th>{{ "admin.property.menuItem.position"|trans }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in menuItems %}
                                <tr class="toggleable" id="item-{{ item.id }}">
                                    <td>
                                        <a class="uk-text-muted uk-text-small uk-text-left uk-hidden toggleable-btn toggleable-btn-select" href="#">
                                            <i class="material-icons md-24 toggle-icon toggle-item" id="toggle-item-{{ item.id }}">&#xE835;</i>
                                        </a>
                                    </td>
                                    <td>{{ item.name }}</td>
                                    <td>{% if item.parent %}{{ item.parent.name }}{% else %} - {% endif %}</td>
                                    <td>{{ item.page.slug }}</td>
                                    <td>{{ item.position }}</td>
                                    <td class="uk-text-right">
                                        <a href="{{ url('admin_menu_item_update', { 'id': menu.id, 'itemId': item.id }) }}" data-uk-tooltip="{pos:'bottom'}" title="{{ "button.update"|trans }}" class="uk-hidden toggleable-btn show-modal" alt="{{ "button.update"|trans }}">
                                            <i class="material-icons md-icon uk-text-primary">&#xE3C9;</i>
                                        </a>
                                        <a href="#remove_item_modal" data-uk-modal="{ center:true }" class="uk-hidden toggleable-btn" title="{{ "button.remove"|trans }}" alt="{{ "button.remove"|trans }}">
                                            <i class="md-icon material-icons uk-text-danger remove-item" id="remove-item-{{ item.id }}">&#xE872;</i>
                                        </a>
                                        <input type="hidden" id="url-remove-item-{{ item.id }}" value="{{ url('admin_menu_item_delete', { 'id': menu.id, 'itemId': item.id })}}">
                                        <input type="hidden" id="label-remove-item-{{ item.id }}" value="{{ item.name }}">
                                    </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}