{% trans_default_domain 'messages' %}

{% set subactive = "admin_calendar_moments" %}

{% extends 'CalendarBundle::layout_table.html.twig' %}

{% block title %}{{ parent() }} - {{ "calendar.content.moment.list"|trans|capitalize }}{% endblock %}

{% if mode != "list" %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{asset("bundles/admin/libs/fullcalendar/dist/fullcalendar.min.css")}}">
    {% endblock %}
{% endif %}

{% block content %}
    <div id="page_content">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <div class="heading_actions">
                <a href="{{ url('admin_calendar_moment_create')}}" class="md-btn md-btn-primary">
                    {{ "button.add"|trans }}
                    <i class="material-icons md-24">&#xE147;</i>
                </a>
            </div>
            <h1>{{ "calendar.title"|trans|capitalize }} - {{ "calendar.content.moment.list"|trans|capitalize }}</h1>
            <span class="sub-heading">
                {% if mode == "list" %}
                    Liste
                {% else %}
                    Calendrier
                {% endif %}
            </span>
        </div>
        <div id="page_content_inner">
            <div class="uk-width-1-1 uk-text-right uk-margin-bottom">
                {% if mode == "list" %}
                    <a href="{{ url('admin_calendar_moments', {'mode':'calendar'})}}" class="md-btn">
                        <i class="material-icons uk-text-primary">&#xE616;</i>
                        Mode Calendrier
                    </a>
                    <a href="#" class="md-btn md-btn-flat md-btn-flat-danger remove-list toggle-action uk-hidden" data-uk-modal="{target:'#remove_list_modal'}">
                        <i class="material-icons md-24">&#xE872;</i> 
                        {{ "button.remove_list"|trans }}
                    </a>
                    <a href="#" class="md-btn md-btn-flat md-btn-flat-primary" id="toggle-check">
                        <i class="material-icons md-24 toggle-icon" id="toggle-check-icon">&#xE835;</i>
                        <span id="toggle-check-text">{{ "button.select_all"|trans }}</span>
                    </a>
                    <input type="hidden" value="{{ moments|length|default('0') }}" id="toggle-items-count">
                    <input type="hidden" value="0" id="toggle-items-checked-count">
                {% else %}
                    <a href="{{ url('admin_calendar_moments', {'mode':'list'})}}" class="md-btn">
                        <i class="material-icons uk-text-primary">&#xE1DB;</i>
                        Mode Liste
                    </a>
                {% endif %}
                
            </div>
            <div class="md-card">
                    <div class="md-card-content">
                    {% if mode == "list" %}
                        <div class="uk-overflow-container uk-margin-bottom">
                            <table id="dt_default" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>{{ "calendar.property.moment.title"|trans }}</th>
                                        <th>{{ "calendar.property.moment.location"|trans }}</th>
                                        <th>{{ "calendar.property.moment.started_at"|trans }}</th>
                                        <th>{{ "calendar.property.moment.ended_at"|trans }}</th>
                                        <th>{{ "calendar.property.moment.visibility.name"|trans }}</th>
                                        <th>{{ "calendar.property.moment.is_recurrent"|trans }}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for moment in moments %}
                                        <tr class="toggleable" id="item-{{ moment.id }}">
                                            <td>
                                                <a class="uk-text-muted uk-text-small uk-text-left uk-hidden toggleable-btn toggleable-btn-select" href="#">
                                                    <i class="material-icons md-24 toggle-icon toggle-item" id="toggle-item-{{ moment.id }}">&#xE835;</i>
                                                </a>
                                            </td>
                                            <td>{{ moment.title }}</td>
                                            <td>{{moment.location}}</td>
                                            <td>{{moment.startedAt|date("d-m-Y H:i")}}</td>
                                            <td>{{moment.endedAt|date("d-m-Y H:i")}}</td>
                                            <td>
                                                {% if moment.visibility == "private" %}
                                                    {{ "calendar.property.moment.visibility.private"|trans }}
                                                {% elseif moment.visibility == "share" %}
                                                    {{ "calendar.property.moment.visibility.share"|trans }}
                                                {% else %}
                                                    {{ "calendar.property.moment.visibility.public"|trans }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if moment.isRecurrent == 1   %}
                                                    <span class="uk-badge md-bg-green-400">Oui</span>
                                                {% else %}
                                                    <span class="uk-badge md-bg-grey-400">Non</span>
                                                {% endif %}
                                            </td>
                                            <td class="uk-text-right">
                                                <a href="{{ url('admin_calendar_moment', {'id': moment.id}) }}" data-uk-tooltip="{pos:'bottom'}" title="{{ "button.show"|trans }}" class="uk-hidden toggleable-btn">
                                                <i class="material-icons md-icon uk-text-primary">&#xE8F4;</i>
                                            </a>
                                                <a href="{{ url('admin_calendar_moment_update', {'id': moment.id}) }}" alt="{{ "button.update"|trans }}" title="{{ "button.update"|trans }}" class="uk-hidden toggleable-btn">
                                                    <i class="md-icon material-icons uk-text-primary">&#xE254;</i>
                                                </a>
                                                <a href="#remove_item_modal" data-uk-modal="{ center:true }" alt="{{ "button.remove"|trans }}" title="{{ "button.remove"|trans }}" class="uk-hidden toggleable-btn">
                                                    <i class="md-icon material-icons remove-item uk-text-danger" id="remove-item-{{ moment.id }}">&#xE872;</i>
                                                </a>
                                                <input type="hidden" name="" id="url-remove-item-{{ moment.id }}" value="{{ url('admin_calendar_moment_remove', {'id': moment.id, 'mode':'list'}) }}">
                                                <input type="hidden" id="label-remove-item-{{ moment.id }}" value="{{ moment.title }}">
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="uk-modal" id="remove_item_modal">
                            <div class="uk-modal-dialog">
                                <div class="uk-margin-medium-bottom uk-text-center">
                                    <h3>{{ "calendar.content.moment.remove"|trans }} <span id="remove_item_label" class="uk-text-bold"></span>?</h3>
                                </div>
                                <div class="uk-modal-footer uk-text-center">
                                    <button type="button" class="md-btn uk-modal-close">{{ "button.close"|trans }}</button>
                                    <a href="" class="md-btn md-btn-danger" id="remove_item_url">{{ "button.remove"|trans }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal" id="remove_list_modal">
                            <div class="uk-modal-dialog">
                                <div class="uk-margin-medium-bottom uk-text-center">
                                    <h3>{{ "calendar.content.moment.remove_list"|trans }} ?</h3>
                                </div>
                                <div class="uk-modal-footer uk-text-center">
                                    <button type="button" class="md-btn uk-modal-close">{{ "button.close"|trans }}</button>
                                    <a href="#" class="md-btn md-btn-danger" id="remove_list_btn">{{ "button.remove"|trans }}</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div id="calendar_selectable"></div>
                        <input type="hidden" id="create_moment_url" value="{{url('admin_calendar_moment_create')}}">
                        <input type="hidden" id="list_moments_url" value="{{url('admin_calendar_moments')}}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if mode != "list" %}
        <script src="{{asset("bundles/admin/libs/fullcalendar/dist/fullcalendar.min.js")}}"></script>
        <script src="{{asset("bundles/admin/libs/fullcalendar/dist/lang/fr.js")}}"></script>
        <script src="{{asset("bundles/admin/js/plugins_fullcalendar.js")}}"></script>
    {% endif %}
{% endblock %}