{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Newsletter:layout_editor.html.twig' %}

{% block title %}{{ parent() }} - {{ "newsletter.content.group.create"|trans|capitalize }} {% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <a href=" {{ url('admin_newsletter_group_list') }} ">
       {{ 'newsletter.content.group.list'|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    <em>{{ "newsletter.content.group.create"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% include 'AdminBundle:Newsletter:form_group.html.twig' with { 'form': form } %}
    </div>
{% endblock %}

{% block modal %}
    <div class="uk-modal" id="choose_files_modal">
        <div class="uk-modal-dialog uk-modal-dialog-large" id="choose_files_modal_dialog">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var $kUI_multiselect_newsletters = $('#kUI_multiselect_subscribers');
        if($kUI_multiselect_newsletters.length) {
            $kUI_multiselect_newsletters.kendoMultiSelect();
        }
    </script>
    $
{% endblock %}


