{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Newsletter:layout_editor.html.twig' %}

{% block title %}{{ parent() }} - {{ "newsletter.content.template.create"|trans }} {% endblock %}

{% block breadcrumbmodule %}
	{{ parent() }}
	<a href="{{ url('admin_newsletter_template_list') }}">{{ "newsletter.content.template.list"|trans|capitalize }}</a>
	<i class="fa fa-chevron-right"></i>
	<em>{{ "newsletter.content.template.create"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% include 'AdminBundle:Newsletter:form_template.html.twig' with { 'form': form } %}
    </div>
{% endblock %}

{% block modal %}
    <div class="uk-modal" id="choose_files_modal">
        <div class="uk-modal-dialog uk-modal-dialog-large" id="choose_files_modal_dialog">
        </div>
    </div>
{% endblock %}

