{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Newsletter:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "newsletter.group.list"|trans|capitalize }}{% endblock %}

{% block headingactions %}
<div class="heading_actions">
    <a href="{{ url('admin_newsletter_group_create') }}" class="show-modal">
        <span class="uk-text-bold">{{ "button.add"|trans|upper }}</span>
        <i class="fa fa-plus-circle"></i>
    </a>
</div>
{% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <em>{{ "newsletter.group.list"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
<div id="page_content_inner">
    <div class="md-card">
        {% if groups is not empty %}
            <div class="md-card-toolbar toggle-action uk-hidden">
                <div class="md-card-toolbar-actions">
                    <div class="uk-button-dropdown" data-uk-dropdown="{'mode' : 'click', 'position' : 'bottom-right'}">
                        <a class="uk-text-primary uk-text-bold">
                            {{ 'layout.multiple_actions'|trans }}
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li>
                                    <a href="#" class="remove-list" data-uk-modal="{target:'#remove_list_modal'}">
                                        <i class="fa fa-trash-o uk-text-danger"></i> 
                                        {{ "button.remove"|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" value="{{ groups|length|default('0') }}" id="toggle-items-count">
                    <input type="hidden" value="0" id="toggle-items-checked-count">
                    <input type="hidden" value="" id="toggle-items-checked-id">
                </div>
            </div>
        {% endif %}
        <div class="md-card-content">
            <table id="dt_individual_search" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'newsletter.group.name'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr class="toggleable" id="item-{{ group.id }}">
                            <td>
                                <a class="uk-text-muted uk-text-small uk-text-left toggleable-btn-select" href="#">
                                    <i class="material-icons md-24 toggle-icon toggle-item" id="toggle-item-{{ group.id }}">&#xE835;</i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ url('admin_newsletter_group_update', {'id': group.id}) }}" class="show-modal">
                                    {{ group.name }}
                                </a>
                            </td>
                            <td class="uk-text-right">
                                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
                                    <a><i class="fa fa-ellipsis-h"></i></a>
                                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom uk-text-left" aria-hidden="true">
                                        <ul class="uk-nav uk-nav-dropdown">
                                            <li>
                                                <a href="{{ url('admin_newsletter_group_update', { 'id': group.id }) }}" class="show-modal">
                                                    <i class="fa fa-pencil"></i>
                                                    {{ "button.update"|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" alt="{{ "button.remove"|trans }}" data-route="{{ url('admin_newsletter_group_delete', {'id': group.id}) }}" data-text="{{ 'newsletter.group.delete'|trans({'%groupName%': group.name}) }}" data-label="{{ group.name }}" class="remove-item">
                                                    <i class="fa fa-trash-o uk-text-danger"></i>
                                                    {{ "button.remove"|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
