{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Contact:layout_table.html.twig' %}

{% block title %}{{ parent() }} - {{ "contact.content.request.list"|trans|capitalize }}{% endblock %}

{% block headingactions %}{% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <em>{{ "contact.content.request.list"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
<div id="page_content_inner">
    {% if requests is not empty %}
        <div class="md-card-toolbar toggle-action uk-hidden">
            <div class="md-card-toolbar-actions">
                <div class="uk-button-dropdown" data-uk-dropdown="{'mode' : 'click', 'position' : 'bottom-right'}">
                    <a class="uk-text-primary uk-text-bold">
                        {{ 'layout.multiple_actions'|trans }}
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li>
                                <a href="#" class="remove-list" data-uk-modal="{target:'#remove_list_modal'}">
                                    <i class="fa fa-trash-o uk-text-danger"></i> 
                                    {{ "button.remove"|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <input type="hidden" value="{{ requests|length|default('0') }}" id="toggle-items-count">
                <input type="hidden" value="0" id="toggle-items-checked-count">
            </div>
        </div>
    {% endif %}
    <div class="uk-width-medium-8-10 uk-container-center">
        <div class="md-card">
            <div class="md-card-content">
                <table id="dt_individual_search" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'contact.property.request.subject'|trans }}</th>
                        <th>{{ 'contact.property.request.contact'|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                            <tr class="toggleable" id="item-{{ request.id }}">
                                <td>
                                    <a class="uk-text-muted uk-text-small uk-text-left toggleable-btn-select" href="#">
                                        <i class="material-icons md-24 toggle-icon toggle-item" id="toggle-item-{{ request.id }}">&#xE835;</i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url('admin_contact_request_show', {'id': request.id}) }}" class="show-modal">
                                        {{ request.subject }}
                                    </a>
                                </td>
                                <td>{{ request.contact.fullName }}</td>
                                <td class="uk-text-right">
                                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
                                        <a><i class="fa fa-ellipsis-h"></i></a>
                                        <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom uk-text-left" aria-hidden="true">
                                            <ul class="uk-nav uk-nav-dropdown">
                                                <li>
                                                    <a href="{{ url('admin_contact_request_show', {'id': request.id}) }}" class="show-modal">
                                                        <i class="fa fa-eye"></i>
                                                        {{ "button.show"|trans }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" alt="{{ "button.remove"|trans }}" data-route="{{ url('admin_contact_request_delete', {'id': request.id}) }}" data-label="{{ request.subject }}" class="remove-item">
                                                        <i class="fa fa-trash-o uk-text-danger"></i>
                                                        {{ "button.remove"|trans }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
