{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Charity:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "charity.donation.create"|trans|capitalize }} {% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <a href="{{ url('admin_charity_donation_list', {'id': cause.id}) }}">
       {{ 'charity.donation.list'|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    <em>{{ "charity.donation.create"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% include 'AdminBundle:Charity:form_donation.html.twig' with { 'form' : form } %}
    </div>
{% endblock %}
