{% trans_default_domain 'messages' %}

{{ form_start(form, { 'id' : 'wizard_advanced_form' }) }}
<div class="uk-width-medium-4-10 uk-container-center">
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-form-row">
                {{ form_label(form.member, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                {{ form_widget(form.member, {'attr': {'data-md-selectize': true}}) }}
            </div>
            <div class="uk-form-row">
                {{ form_label(form.cause, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                {{ form_widget(form.cause, {'attr': {'data-md-selectize': true}}) }}
            </div>
            <div class="uk-form-row">
                {{ form_label(form.totalAmount, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                {{ form_widget(form.totalAmount, {'attr': {'class': 'md-input'}}) }}
            </div>
            <div class="uk-form-row">
                {{ form_label(form.paidAmount, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                {{ form_widget(form.paidAmount, {'attr': {'class': 'md-input'}}) }}
            </div>
            <div class="uk-form-row">
                {{ form_label(form.countDonationLines, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                {{ form_widget(form.countDonationLines, {'attr': {'class': 'md-input'}}) }}
                {% if donation is defined and donation.countDonationLines > 0 %}
                    <a href="{{ url('admin_charity_donation_update_lines', {'id': donation.id}) }}">
                        <small>
                            <i class="fa fa-pencil"></i>
                            {{ "charity.donation.manage_donation_lines"|trans }}
                        </small>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="uk-text-center uk-margin-top">
    <a class="md-btn md-btn-default" href="{{ url('admin_charity_donation_list', {'id': cause.id}) }}">
        <i class="fa fa-arrow-left"></i>
        {{ 'button.cancel'|trans }}
    </a>
    <button class="md-btn md-btn-success" type="submit">
        {% if donation is defined %}
            {{ 'button.update'|trans }}
        {% else %}
            {{ 'button.add'|trans }}
        {% endif %}
        <i class="fa fa-check"></i>
    </button>
</div>

{{ form_end(form) }}