{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Charity:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "charity.member.list"|trans|capitalize }}{% endblock %}

{% block headingactions %}
<div class="heading_actions">
    <a href="{{ url('admin_charity_member_create') }}">
        <span class="uk-text-bold">{{ "button.add"|trans|upper }}</span>
        <i class="fa fa-plus-circle"></i>
    </a>
</div>
{% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <em>{{ "charity.member.list"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
<div id="page_content_inner">
    <div class="md-card">
        {% if members is not empty %}
            <div class="md-card-toolbar toggle-action uk-hidden">
                <div class="md-card-toolbar-actions">
                    <div class="uk-button-dropdown" data-uk-dropdown="{'mode' : 'click', 'position' : 'bottom-right'}">
                        <a class="uk-text-primary uk-text-bold">
                            {{ 'layout.multiple_actions'|trans }}
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li>
                                    <a href="#" class="remove-list" data-uk-modal="{target:'#remove_list_modal'}">
                                        <i class="fa fa-trash-o uk-text-danger"></i> 
                                        {{ "button.remove"|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" value="{{ members|length|default('0') }}" id="toggle-items-count">
                    <input type="hidden" value="0" id="toggle-items-checked-count">
                </div>
            </div>
        {% endif %}
        <div class="md-card-content">
            <table id="dt_individual_search" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ "charity.member.fullName"|trans }}</th>
                    <th>{{ "charity.member.email"|trans }}</th>
                    <th>{{ "charity.member.phoneNumber"|trans }}</th>
                    <th>{{ "charity.member.enabled.title"|trans }}</th>
                    <th>{{ "charity.member.enabledAt"|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        <tr class="toggleable" id="item-{{ member.id }}">
                            <td>
                                <a class="uk-text-muted uk-text-small uk-text-left toggleable-btn-select" href="#">
                                    <i class="material-icons md-24 toggle-icon toggle-item" id="toggle-item-{{ member.id }}">&#xE835;</i>
                                </a>
                            </td>
                            <td>
                                <div class="uk-text-truncate" style="width: 250px;">
                                    <a href="{{ url('admin_charity_member_update', {'id': member.id}) }}" title="{{ member }}">
                                        {{ member }}
                                    </a>
                                </div>
                            </td>
                            <td>{{ member.email }}</td>
                            <td>{{ member.phoneNumber }}</td>
                            <td class="uk-text-center">
                                {% if member.enabled == true %}
                                    <span class="uk-badge uk-badge-success">{{ "charity.member.enabled.activate"|trans }}</span>
                                {% else %}
                                    <span class="uk-badge uk-badge-dark">{{ "charity.member.enabled.deactivate"|trans }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if member.enabledAt is not empty %}
                                    <small>{{ date_time_ago(member.updatedAt) }}</small>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="uk-text-right">
                                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
                                    <a><i class="fa fa-ellipsis-h"></i></a>
                                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom uk-text-left" aria-hidden="true">
                                        <ul class="uk-nav uk-nav-dropdown">
                                            <li>
                                                <a href="{{ url('admin_charity_member_update', { 'id': member.id }) }}">
                                                    <i class="fa fa-pencil"></i>
                                                    {{ "button.update"|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" alt="{{ "button.remove"|trans }}" data-route="{{ url('admin_charity_member_delete', {'id': member.id}) }}" data-text="{{ 'charity.member.delete'|trans({'%member%': member})}}"  data-label="{{ member }}" class="remove-item">
                                                    <i class="fa fa-trash-o uk-text-danger"></i>
                                                    {{ "button.remove"|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}