{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Charity:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "charity.donation.list"|trans|capitalize }}{% endblock %}

{% block headingactions %}
<div class="heading_actions">
    <a href="{{ url('admin_charity_donation_create', {'id': cause.id}) }}">
        <span class="uk-text-bold">{{ "button.add"|trans|upper }}</span>
        <i class="fa fa-plus-circle"></i>
    </a>
</div>
{% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <a href=" {{ url('admin_charity_cause_list', {'id': cause.id}) }} ">
       {{ 'charity.cause.list'|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    <a href=" {{ url('admin_charity_cause_update', {'id': cause.id}) }} ">
        {{ "charity.cause.update"|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    <em>{{ "charity.donation.list"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
<div id="page_content_inner">
    <div class="md-card">
        {% if donations is not empty %}
            <div class="md-card-toolbar toggle-action uk-hidden">
                <div class="md-card-toolbar-actions">
                    <div class="uk-button-dropdown" data-uk-dropdown="{'mode' : 'click', 'position' : 'bottom-right'}">
                        <a class="uk-text-primary uk-text-bold">
                            {{ 'layout.multiple_actions'|trans }}
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li>
                                    <a href="#" class="remove-list" data-uk-modal="{target:'#remove_list_modal'}">
                                        <i class="fa fa-trash-o uk-text-danger"></i> 
                                        {{ "button.remove"|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" value="{{ donations|length|default('0') }}" id="toggle-items-count">
                    <input type="hidden" value="0" id="toggle-items-checked-count">
                </div>
            </div>
        {% endif %}
        <div class="md-card-content">
            <table id="dt_individual_search" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ "charity.donation.member"|trans }}</th>
                    <th>{{ "charity.donation.cause"|trans }}</th>
                    <th class="uk-text-center">{{ "charity.donation.countDonationLines"|trans }}</th>
                    <th class="uk-text-center">{{ "charity.donation.amountRatio"|trans }}</th>
                    <th>{{ "charity.donation.updatedAt"|trans }}</th>
                    {# <th class="uk-text-center">{{ "charity.donation.status"|trans }}</th> #}
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for donation in donations %}
                        <tr class="toggleable" id="item-{{ donation.id }}">
                            <td>
                                <a class="uk-text-muted uk-text-small uk-text-left toggleable-btn-select" href="#">
                                    <i class="material-icons md-24 toggle-icon toggle-item" id="toggle-item-{{ donation.id }}">&#xE835;</i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ url('admin_charity_donation_update', {'id': donation.id}) }}">{{ donation.member }}</a>
                            </td>
                            <td>{{ donation.cause.name }}</td>
                            <td class="uk-text-center">{{ donation.countDonationLines }}</td>
                            <td class="uk-text-center">{{ donation.amountRatio }}</td>
                            <td><small>{{ date_time_ago(donation.updatedAt) }}</small></td>
                            {# <td class="uk-text-center">
                                {% if donation.isClosable == true %}
                                    {% if donation.isClosed == true %}
                                        <span class="uk-badge uk-badge-success">{{ "text.close"|trans }}</span>
                                    {% else %}
                                        <span class="uk-badge uk-badge-warning">{{ "text.in_progress"|trans }}</span>
                                    {% endif %}
                                {% else %}
                                    <span class="uk-badge uk-badge-dark">{{ "text.unlimited"|trans }}</span>
                                {% endif %}
                            </td> #}
                            <td class="uk-text-right">
                                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
                                    <a><i class="fa fa-ellipsis-h"></i></a>
                                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom uk-text-left" aria-hidden="true">
                                        <ul class="uk-nav uk-nav-dropdown">
                                            <li>
                                                <a href="{{ url('admin_charity_donation_update', {'id': donation.id}) }}">
                                                    <i class="fa fa-pencil"></i>
                                                    {{ "button.update"|trans }}
                                                </a>
                                            </li>
                                            {% if donation.countDonationLines > 0 %}
                                                <li>
                                                    <a href="{{ url('admin_charity_donation_update_lines', {'id': donation.id}) }}">
                                                        <i class="fa fa-pencil"></i>
                                                        {{ "charity.donation.donationLines"|trans }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="#" alt="{{ "button.remove"|trans }}" data-route="{{ url('admin_charity_donation_delete', {'id': donation.id}) }}" data-text="{{ 'charity.donation.delete'|trans({'%donationAuthor%': donation.member}) }}" data-label="{{ donation.member }}" class="remove-item">
                                                    <i class="fa fa-trash-o uk-text-danger"></i>
                                                    {{ "button.remove"|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}