{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Charity:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "charity.donation.update"|trans|capitalize }} {{ donation.member }} {% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <a href=" {{ url('admin_charity_cause_list', {'id': cause.id}) }} ">
       {{ 'charity.cause.list'|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    <a href=" {{ url('admin_charity_cause_update', {'id': cause.id}) }} ">
        {{ "charity.cause.update"|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    <em>{{ "charity.donation.update"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% include 'AdminBundle:Charity:form_donation.html.twig' with {'form': form, 'donation': donation } %}
    </div>
{% endblock %}
