{% trans_default_domain 'messages' %}

{% extends 'LearningBundle::layout_editor.html.twig' %}

{% block title %}{{ parent() }} - {{ "learning.content.category.update"|trans|capitalize }} {% endblock %}

{% block breadcrumbmodule %}
	{{ parent() }}
	<i class="material-icons">keyboard_arrow_right</i>
	<em>{{ "learning.content.category.update"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% include 'LearningBundle:Category:form.html.twig' with { 'form': form, 'category': category } %}
    </div>
{% endblock %}

{% block modal %}
    <div class="uk-modal" id="choose_files_modal">
        <div class="uk-modal-dialog uk-modal-dialog-large" id="choose_files_modal_dialog">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/admin/js/forms_file_upload.js' 
        'bundles/learning/js/admin_learning_category.js'
        output='compiled/js/admin_learning_category_update.min.js'
    %}
    	<script src={{ asset_url }}></script>
    {% endjavascripts %}
{% endblock %}