{% trans_default_domain 'messages' %}

{% if is_granted('ROLE_USER_MANAGE') or is_granted('ROLE_ADMIN')  %}
    <li {% if active == "user" %}class="act_section current_section"{% endif %}>
        <a href="#">
            <span class="menu_icon"><i class="material-icons">{{ "user.icon"|trans }}</i></span>
            <span class="menu_title">{{ "user.title"|trans }}</span>
        </a>
        <ul>
            <li {% if subactive == "admin_users" %}class="act_item"{% endif %}><a href="{{ url('admin_users')}}">{{ "user.navigation.user"|trans }}</a></li>
            <li {% if subactive == "admin_user_groups" %}class="act_item"{% endif %}><a href="{{ url('admin_user_groups')}}">{{ "user.navigation.group"|trans }}</a></li>
        </ul>
    </li>
{% endif %}