{% trans_default_domain 'messages' %}

{% extends 'CharityBundle::layout_editor.html.twig' %}

{% block title %}{{ parent() }} - {{ "charity.content.cause.create"|trans|capitalize }} {% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <a href=" {{ url('admin_charity_cause_list') }} ">
       {{ 'charity.content.cause.list'|trans|capitalize }}
    </a>
    <i class="material-icons">keyboard_arrow_right</i>
    <em>{{ "charity.content.cause.create"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% include 'CharityBundle:Cause:form.html.twig' with { 'form' : form } %}
    </div>
{% endblock %}

{% block modal %}
    <div class="uk-modal" id="choose_files_modal">
        <div class="uk-modal-dialog uk-modal-dialog-large" id="choose_files_modal_dialog">
        </div>
    </div>
{% endblock %}