{% trans_default_domain 'messages' %}

{{ form_start(form, {'attr': {'id': 'form_validation', 'class': 'uk-form-stacked'}}) }}
    <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
        <div class="uk-width-xLarge-7-10 uk-width-large-7-10">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                        <div class="uk-width-large-1-1">
                            <div class="uk-form-row">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, {'id' : 'name'}) }}
                            </div>
                            <div class="uk-form-row">
                                {{ form_label(form.category) }}
                                {{ form_widget(form.category) }}
                            </div>
                            <div class="uk-form-row">
                                {{ form_label(form.tags) }}
                                {{ form_widget(form.tags, { 'value' : cause is defined ? cause.tags|join(',') : '' }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-large-1-1">
                            <div class="uk-form-row">
                                {{ form_widget(form.description, {'id': 'wysiwyg_ckeditor'}) }}
                            </div>
                        </div>
        </div>
        <div class="uk-width-xLarge-3-10 uk-width-large-3-10">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-form-row">
                        {{ form_label(form.totalAmount) }}
                        {{ form_widget(form.totalAmount) }}
                    </div>
                    <div class="uk-form-row">
                        {{ form_label(form.startedAt) }}
                        {{ form_widget(form.startedAt, {'id': 'started_at'}) }}
                    </div>
                    <div class="uk-form-row">
                        {{ form_label(form.endedAt) }}
                        {{ form_widget(form.endedAt, {'id': 'ended_at'}) }}
                    </div>
                </div>
            </div>
            {% include 'MediaBundle:File:embedded.html.twig' with { 'formData' : form.picture, 'suffix' : 'picture', 'data' : cause is defined ? cause.picture : null } %}
        </div>
    </div>
    <div class="md-fab-wrapper">
        {{ form_widget(form.save, {'id': 'save'}) }}
    </div>
{{ form_end(form) }}