<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Facture #{{command.code}}</title>
  </head>
  <body>
    <style type="text/css">
      
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

      a {
        color: #5D6975;
        text-decoration: underline;
      }

      body {
        position: relative;
        width: 21cm;  
        height: 29.7cm; 
        margin: 0 auto; 
        color: #001028;
        background: #FFFFFF; 
        font-family: Arial, sans-serif; 
        font-size: 12px; 
        font-family: Arial;
      }

      header {
        padding: 10px 0;
        margin-bottom: 30px;
      }

      #logo {
        text-align: center;
        margin-bottom: 10px;
      }

      #logo img {
        width: 90px;
      }

      h1 {
        border-top: 1px solid  #5D6975;
        border-bottom: 1px solid  #5D6975;
        color: #5D6975;
        font-size: 2.4em;
        line-height: 1.4em;
        font-weight: normal;
        text-align: center;
        margin: 0 0 20px 0;
        background: url(dimension.png);
      }

      #project {
        float: left;
      }

      #project span {
        color: #5D6975;
        text-align: right;
        width: 52px;
        margin-right: 10px;
        display: inline-block;
        font-size: 0.8em;
      }

      #company {
        float: right;
        text-align: right;
      }

      #project div,
      #company div {
        white-space: nowrap;        
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
      }

      table tr:nth-child(2n-1) td {
        background: #F5F5F5;
      }

      table th,
      table td {
        text-align: center;
      }

      table th {
        padding: 5px 20px;
        color: #5D6975;
        border-bottom: 1px solid #C1CED9;
        white-space: nowrap;        
        font-weight: normal;
      }

      table .service,
      table .desc {
        text-align: left;
      }

      table td {
        padding: 20px;
        text-align: right;
      }

      table td.service,
      table td.desc {
        vertical-align: top;
      }

      table td.unit,
      table td.qty,
      table td.total {
        font-size: 1.2em;
      }

      table td.grand {
        border-top: 1px solid #5D6975;;
      }

      #notices .notice {
        color: #5D6975;
        font-size: 1.2em;
      }

      footer {
        color: #5D6975;
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0;
        border-top: 1px solid #C1CED9;
        padding: 8px 0;
        text-align: center;
      }

    </style>


    <header class="clearfix">
      <div id="logo">
        <img src="{{asset('logo.png')}}">
      </div>
      <h1>Facture N°{{command.code|upper}}</h1>
      <div id="company" class="clearfix">
        <div>MJ Services</div>
        <div>455 Foggy Heights,<br /> AZ 85004, US</div>
        <div>(602) 519-0450</div>
        <div><a href="mailto:standard@mjservicesci.com">standard@mjservicesci.com</a></div>
      </div>
      <div id="project">
        <div><span>CLIENT</span> {{command.user.firstName}} {{command.user.lastName}}</div>
        {# <div><span>ADDRESS</span> {{command.billingAddress}}</div> #}
        <div><span>EMAIL</span> <a href="mailto:{{command.user.email}}">{{command.user.email}}</a></div>
        <div><span>DATE</span> {{command.createdAt|date('d-m-Y')}}</div>
        <div><span>DATE D'ECHEANCE</span> {{command.createdAt|date_modify("+14 days")|date('d-m-Y')}}</div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th class="service">NUMERO</th>
            <th class="desc">PRODUIT</th>
            <th>PRIX</th>
            <th>QTE</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          {% set number = 0 %}
          {% for commandLine in command.commandLines %}
            {% set number = number + 1 %}
            <tr>
              <td class="service">{{number}}</td>
              <td class="desc">{{commandLine.product.name}}</td>
              <td class="unit">{{commandLine.product.price}} {# {{ commandLine.product.currency }} #}</td>
              <td class="qty">{{commandLine.quantity}}</td>
              <td class="total">
                  {% set total = commandLine.quantity * commandLine.product.price %}
                  {{ total }} {# {{ commandLine.product.currency }} #}

              </td>
            </tr>
          {% endfor %}
          
          <tr>
            <td colspan="4">Sous-total</td>
            <td class="total">{{ command.amount }} FCFA</td>
          </tr>
          {% set amount = command.amount %}
          {% if command.coupon is not empty %}
            <tr>
              <td colspan="4">REDUCTION</td>
              <td class="total">{{ command.coupon.value }} FCFA</td>
            </tr>
            {% set amount = command.amount - command.coupon.value %}
          {% endif %}

          {% if command.shipping is not empty %}
            <tr>
              <td colspan="4">FRAIS DE LIVRAISON</td>
              <td class="total">{{ command.shipping.price }} FCFA</td>
              {% set amount = amount + command.shipping.price %}
            </tr>
          {% endif %}
          <tr>
            <td colspan="4" class="grand total">TOTAL</td>
            <td class="grand total">{{amount}} FCFA</td>
          </tr>
        </tbody>
      </table>
      <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
      </div>
    </main>
    <footer>
      Invoice was created on a computer and is valid without the signature and seal.
    </footer>
  </body>
</html>