{% trans_default_domain 'messages' %}
<div class="uk-width-medium-6-10 uk-container-center">
   {{ form_start(form) }}
		<div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                    <div class="uk-width-large-1-1">
                        <div class="uk-form-row">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <a href="#choose_files_modal" data-uk-modal="{ center:false }" data-uk-tooltip="{pos:'bottom'}" title="{{ "button.add"|trans }}" id="choose_files_btn_picture" alt="{{ "button.add"|trans }}">
                        <i class="md-icon material-icons">&#xE146;</i>
                    </a>
                </div>
                <h3 class="md-card-toolbar-heading-text">
                    {{ form_label(form.picture, null, {'label_attr': {'class': 'uk-form-label'}}) }}
                </h3>
            </div>
            {% if category is not defined %}
                <div class="md-card-content uk-hidden" id="target_container_file">
                    <img src="" alt="" class="img_large" id="target_file"/>
                    {{ form_widget(form.picture, {'id': 'files_to_add_file'}) }}
                </div>
             {% else %}
             	<div class="md-card-content {% if category.picture is empty %}uk-hidden{% endif %}" id="target_container_file">
                    <img src="{{ category.picture }}" alt="" class="img_large" id="target_file"/>
                    {{ form_widget(form.picture, {'id': 'files_to_add_file'}) }}
                </div>
             {% endif %}
        </div>
        <div class="md-fab-wrapper">
            {{ form_widget(form.save, {'id': 'save'}) }}
        </div>
    {{ form_end(form) }}
</div>