{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Blog:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "blog.post.create"|trans|capitalize }} {% endblock %}

{% block breadcrumbmodule %}
	{{ parent() }}
    <a href=" {{ url('admin_blog_post_list') }} ">
       {{ 'blog.post.list'|trans|capitalize }}
    </a>
	<i class="fa fa-chevron-right"></i>
	<em>{{ "blog.post.create"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% include 'AdminBundle:Blog:form_post.html.twig' with {'form': form} %}
    </div>
{% endblock %}