{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Static:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "static.page.create" }} {% endblock %}

{% block breadcrumbmodule %}
	{{ parent() }}
	<a href="{{ url('admin_static_page_list') }}">{{ "static.page.list"|trans|capitalize }}</a>
	<i class="fa fa-chevron-right"></i>
	<em>{{ "static.page.create"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% include 'AdminBundle:Static:form_page.html.twig' with {'form': form} %}
    </div>
{% endblock %}

